<template>
    <full-calendar :options="options" class="calendar"></full-calendar>
</template>

<script>
    import FullCalendar from '@fullcalendar/vue';
    import dayGridPlugin from '@fullcalendar/daygrid';
    import interactionPlugin from '@fullcalendar/interaction';
    import {getCalendarEvents} from '~/includes/Participant/endpoints';

    export default {
        name: 'Calendar',
        components: {
            FullCalendar,
        },
        data() {
            return {
                loading: {
                    events: true,
                },

                dates: {
                    start: null,
                    end: null,
                },
                options: {
                    events: this.handleSetDates,
                    plugins: [
                        dayGridPlugin,
                        interactionPlugin,
                    ],
                    initialView: 'dayGridMonth',
                    fixedWeeksCount: false,
                    showNonCurrentDates: false,
                    height: 'auto',
                    aspectRatio: 1,
                    // timeZone: 'Australia/Brisbane',
                },
            };
        },
        methods: {
            handleSetDates(dates, successCallback) {
                this.dates.start = dates.startStr;
                this.dates.end = dates.endStr;

                const promise = this.handleLoadEvents();

                promise.then(res => {
                    successCallback(res.data.events);
                }).catch(error => {
                    this.$errors.handle(error);
                }).finally(() => {
                    this.loading.events = false;
                });
            },
            handleLoadEvents() {
                this.loading.events = true;

                return getCalendarEvents(this.dates);
            },
        },
    };
</script>

<style lang="scss" scoped>
   .calendar {
        padding: 20px;
    }
</style>
