<template>
    <section>
        <el-button
            type="primary"
            style="width: 100%; height: 100%;"
            @click="visible.bookingDialog = true">
            Book Another Service
        </el-button>

        <el-dialog
            title="New Booking"
            :visible.sync="visible.bookingDialog"
            :modal-append-to-body="true"
            :append-to-body="true"
            :close-on-click-modal="false">
            <el-form
                ref="dialogForm"
                :model="bookingData"
                label-width="auto"
                :rules="bookingRules"
                @submit.native.prevent="handleSubmitBooking">
                <el-form-item label="Service" prop="service_type_id" :error="$errors.get('service_type_id')">
                    <el-select
                        v-model="bookingData.service_type_id"
                        placeholder="Service"
                        style="width: 100%;"
                        @change="$errors.clear('service_type_id')">
                        <el-option
                            v-for="service in services"
                            :key="service.id"
                            :label="service.service_name"
                            :value="service.id">
                        </el-option>
                    </el-select>
                </el-form-item>
                <el-form-item
                    label="Specialization"
                    prop="specialization_id"
                    :error="$errors.get('specialization_id')">
                    <el-select
                        v-model="bookingData.specialization_id"
                        placeholder="Specialization"
                        style="width: 100%;"
                        @change="$errors.clear('specialization_id')">
                        <el-option
                            v-for="specialization in specializations"
                            :key="specialization.id"
                            :label="specialization.name"
                            :value="specialization.id">
                        </el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="Start date" prop="start_date" :error="$errors.get('start_date')">
                    <date-picker-multiple-format
                        v-model="bookingData.start_date"
                        style="width: 100%;"
                        type="date"
                        placeholder="Pick a date"
                        clearable
                        :picker-options="{disabledDate: (time) => time < (new Date()).setDate((new Date()).getDate() - 1)}"
                        :value-format="dateFormat"
                        :format="dateFormat"
                        @change="$errors.clear('start_date')">
                    </date-picker-multiple-format>
                </el-form-item>
                <el-form-item label="End date" prop="end_date" :error="$errors.get('end_date')">
                    <date-picker-multiple-format
                        v-model="bookingData.end_date"
                        style="width: 100%;"
                        type="date"
                        placeholder="Pick a date"
                        clearable
                        :picker-options="{disabledDate: (time) => time < (new Date()).setDate((new Date()).getDate() - 1)}"
                        :value-format="dateFormat"
                        :format="dateFormat"
                        @change="$errors.clear('end_date')">
                    </date-picker-multiple-format>
                </el-form-item>
                <el-form-item label="Start time" prop="start_time" :error="$errors.get('start_time')">
                    <el-time-select
                        v-model="bookingData.start_time"
                        placeholder="Pick a time"
                        style="width: 100%;"
                        :picker-options="{
                            start: '08:30',
                            step: '00:15',
                            end: '18:30'
                        }">
                    </el-time-select>
                </el-form-item>
                <el-form-item label="End time" prop="end_time" :error="$errors.get('end_time')">
                    <el-time-select
                        v-model="bookingData.end_time"
                        placeholder="Pick a time"
                        style="width: 100%;"
                        :picker-options="{
                            start: '08:30',
                            step: '00:15',
                            end: '18:30',
                            minTime: bookingData.start_time,
                        }">
                    </el-time-select>
                </el-form-item>
                <el-form-item label="Frequency" prop="frequency" :error="$errors.get('frequency')">
                    <el-select
                        v-model="bookingData.frequency"
                        placeholder="Pick a frequency"
                        style="width: 100%;"
                        @change="$errors.clear('frequency')">
                        <el-option
                            v-for="(label, key) in frequencies"
                            :key="key"
                            :label="label"
                            :value="key"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="Visit type" prop="visit_type" :error="$errors.get('visit_type')">
                    <el-select
                        v-model="bookingData.visit_type"
                        placeholder="Pick a visit type"
                        style="width: 100%;"
                        @change="$errors.clear('visit_type')">
                        <el-option
                            v-for="(label, key) in visitTypes"
                            :key="key"
                            :label="label"
                            :value="key">
                        </el-option>
                    </el-select>
                </el-form-item>
                <template v-if="bookingData.visit_type === visitTypeClinic">
                    <el-form-item label="" label-width="0px" prop="is_another_address" :error="$errors.get('is_another_address')">
                        <span class="m-r-10">Are you in a different address during this booking</span>
                        <el-switch v-model="bookingData.is_another_address">
                        </el-switch>
                    </el-form-item>
                    <el-form-item
                        v-if="bookingData.is_another_address"
                        label="Address"
                        prop="address"
                        :required="bookingData.is_another_address"
                        :rules="{required: bookingData.is_another_address, message: 'Address is required', trigger: 'blur'}"
                        :error="$errors.get('address')">
                        <div class="el-input el-input--suffix">
                            <GmapAutocomplete
                                id="dashboard-participant-address"
                                :options="autocompleteOptions"
                                :value="bookingData.address"
                                class="el-input__inner"
                                @place_changed="handleAddressChange">
                            </GmapAutocomplete>
                            <i class="el-input__suffix el-input__icon el-icon-location-outline"></i>
                        </div>
                    </el-form-item>
                    <el-form-item label="" label-width="0px" prop="radius" :error="$errors.get('radius')">
                        <span>Maximum travel distance in km</span>
                        <el-slider
                            v-model="bookingData.radius"
                            class="coverage-radius-slider"
                            :step="10"
                            :min="10"
                            :max="300"
                            :marks="{ 10: '10KM', 300: '300KM' }"
                            :format-tooltip="formatSliderTooltip">
                        </el-slider>
                    </el-form-item>
                </template>
            </el-form>

            <span slot="footer" class="dialog-footer">
                <el-button :loading="loading.submitBooking" type="primary" @click.native="handleSubmitBooking">Submit</el-button>
            </span>
        </el-dialog>
    </section>
</template>

<script>
    // import Errors from '~/includes/_common_/Errors';
    import {getServiceList, storeBooking} from '~/includes/Participant/endpoints';
    import DatePickerMultipleFormat from '~/components/_common_/DatePickerMultipleFormat';
    import {methods} from '~/includes/_common_/util';
    import common from '~/mixins/common';
    import _ from 'lodash';

    export default {
        name: 'NewBooking',
        components: {
            DatePickerMultipleFormat,
        },
        mixins: [common],
        data: () => ({
            visible: {
                bookingDialog: false,
            },
            loading: {
                services: true,
                submitBooking: false,
            },
            dateFormat: window.Laravel.formatDate.datepickerDate,
            frequencies: window.Laravel.Booking.FREQUENCY_TYPES,
            visitTypes: window.Laravel.Company.VISIT_TYPES,
            visitTypeClinic: window.Laravel.Company.VISIT_TYPE_CLINIC,

            bookingData: {
                service_type_id: null,
                specialization_id: null,
                start_date: null,
                end_date: null,
                start_time: null,
                end_time: null,
                frequency: null,
                visit_type: null,
                is_another_address: false,
                address: '',
                lat: '',
                lng: '',
                radius: null,
            },
            bookingRules: {
                service_type_id: [{required: true, message: 'Service is required'}],
                specialization_id: {required: true, message: 'Specialization is required'},
                start_date: [{required: true, message: 'Start date is required'}],
                end_date: [{required: true, message: 'End date is required'}],
                start_time: [{required: true, message: 'Start time is required'}],
                end_time: [{required: true, message: 'End time is required'}],
                frequency: [{required: true, message: 'Frequency is required'}],
                visit_type: [{required: true, message: 'Visit type is required'}],
            },

            services: [],
        }),
        computed: {
            specializations() {
                return _.find(this.services, {id: this.bookingData.service_type_id})?.specializations;
            },
        },
        watch: {
            'bookingData.service_type_id'() {
                this.bookingData.specialization_id = this.specializations?.length === 1
                    ? this.specializations[0]?.id
                    : null;
            },
        },
        mounted() {
            this.fetchServices();
        },
        methods: {
            ...methods,
            fetchServices() {
                this.loading.services = true;

                getServiceList({relations: 'specializations'}).then(res => {
                    this.services = res.data.services;
                }).catch(error => {
                    this.$errors.handle(error);
                }).finally(() => {
                    this.loading.services = false;
                });
            },

            async handleSubmitBooking() {
                try {
                    const valid = await this.$refs.dialogForm.validate();

                    if (!valid) return;

                    this.loading.submitBooking = true;

                    storeBooking(this.bookingData)
                        .then((res) => {
                            this.$message.success(res.data.message);
                            this.visible.bookingDialog = false;
                            this.$refs.dialogForm.resetFields();
                        })
                        .catch(async(error) => {
                            await this.$errors.handle(error);
                        }).finally(() => {
                            this.loading.submitBooking = false;
                        });
                } catch {}
            },
            handleAddressChange(data) {
                let address = this.getAddress(data);

                this.bookingData.address = address.address;
                this.bookingData.lat = address.lat;
                this.bookingData.lng = address.lng;
            },
            formatSliderTooltip(val) {
                return val + 'KM';
            },
        },
    };
</script>

<style lang="scss" scoped>
    div.coverage-radius-slider {
        word-break: normal;

        /deep/ div.el-slider__marks-text:first-child {
            transform: none;
        }

        /deep/ div.el-slider__marks-text:last-child {
            transform: translateX(-100%);
        }
    }
</style>
