<template>
    <el-row>
        <el-col style="text-align: center;">
            <h1>My Upcoming Service</h1>
        </el-col>
        <el-col v-if="service === null" style="text-align: center; margin-bottom: 10px;">
            You don't have any booked services
        </el-col>
        <el-col v-else>
            <el-row type="flex" justify="center" class="upcoming-service-container">
                <el-col class="upcoming-day">
                    <h2>{{ serviceDate.format('DD') }}</h2>
                </el-col>
                <el-col>{{ serviceDate.format('dddd [,] hh:mm a') }}</el-col>
                <el-col>{{ serviceDate.format('MMMM YYYY') }}</el-col>
                <el-col>{{ service.title }}</el-col>
            </el-row>
        </el-col>
    </el-row>
</template>

<script>
    import {
        getUpcomingService,
    } from '~/includes/Participant/endpoints';
    import Errors from '~/includes/_common_/Errors';
    import moment from 'moment';

    export default {
        name: 'UpcomingService',
        data: () => ({
            errors: new Errors(),
            loading: {
                service: true,
            },

            service: null,
        }),
        computed: {
            serviceDate: function() {
                return this.service ? moment(this.service.start) : null;
            },
        },
        mounted() {
            this.fetchUpcomingService();
        },
        methods: {
            fetchUpcomingService() {
                this.loading.service = true;

                getUpcomingService()
                    .then(({data}) => {
                        this.service = data.service;
                    })
                    .catch(async error => {
                        await this.$errors.handle(error);
                        this.errors.record(this.$errors.all());
                    })
                    .finally(() => {
                        this.loading.service = false;
                    });
            },
        },
    };
</script>

<style lang="scss" scoped>
    .upcoming-service-container {
        flex-direction: column;

        .el-col {
            text-align: center;
            margin-bottom: 10px;
        }
    }

    .upcoming-day {
        font-size: 25px;
    }
</style>
