<template>
    <section>
        <el-row class="m-t-10">
            <el-col :span="12" :offset="6">
                <el-alert
                    :closable="false"
                    title="Please, wait"
                    show-icon>
                </el-alert>
                <div v-loading="true" style="width: 100%;"></div>
            </el-col>
        </el-row>
    </section>
</template>

<script>
    import {confirmBookingRequest} from '~/includes/ServiceProvider/endpoints';

    export default {
        name: 'Confirm',
        mounted() {
            this.confirmRequest();
        },
        methods: {
            confirmRequest() {
                confirmBookingRequest({...this.$route.params}).then(() => {
                    this.$message.success('Booking confirmed');
                }).catch(async error => {
                    await this.$errors.handle(error);
                }).finally(() => {
                    this.$router.push('/');
                });
            },
        },
    };
</script>

<style lang="scss" scoped>

</style>
