<template>
    <section>
        <el-row class="m-t-10">
            <el-col :span="12" :offset="6">
                <el-alert
                    :closable="false"
                    title="Please, wait"
                    show-icon>
                </el-alert>
                <div v-loading="true" style="width: 100%;"></div>
            </el-col>
        </el-row>
    </section>
</template>

<script>
    import {denyBookingRequest} from '~/includes/ServiceProvider/endpoints';

    export default {
        name: 'Deny',
        mounted() {
            this.denyRequest();
        },
        methods: {
            denyRequest() {
                denyBookingRequest({...this.$route.params}).then(() => {
                    this.$message.success('Booking denied');
                }).catch(() => {
                    this.$message.error('Unable to deny this booking');
                }).finally(() => {
                    this.$router.push('/');
                });
            },
        },
    };
</script>

<style lang="scss" scoped>

</style>
