<template>
    <el-container class="verification-screen background-image">
        <app-header></app-header>
        <el-main class="verification-section">
            <div class="v-align-container">
                <div class="t-cell">
                    <el-form label-position="left" label-width="0px" class="verification-container">
                        <div class="title">
                            Set your password
                        </div>

                        <el-form-item prop="email" :error="errors.get('email')">
                            <el-input
                                v-model="form.email"
                                type="email"
                                autocomplete="on"
                                placeholder="Email"
                                suffix-icon="el-icon-message"
                                @change="errors.clear('email')"></el-input>
                        </el-form-item>

                        <el-form-item prop="password" :error="errors.get('password')">
                            <el-input
                                v-model="form.password"
                                type="password"
                                autocomplete="on"
                                placeholder="Password"
                                suffix-icon="el-icon-fa-key"
                                @change="errors.clear('password')"></el-input>
                        </el-form-item>

                        <el-form-item prop="password_confirmation" :error="errors.get('password_confirmation')">
                            <el-input
                                v-model="form.password_confirmation"
                                type="password"
                                autocomplete="on"
                                placeholder="Password confirmation"
                                suffix-icon="el-icon-fa-key"
                                @change="errors.clear('password_confirmation')"></el-input>
                        </el-form-item>

                        <el-form-item style="width:100%;">
                            <el-button
                                type="primary"
                                style="width:100%;"
                                :loading="loading.form"
                                native-type="submit"
                                @click.native.prevent="submit">
                                Submit
                            </el-button>
                        </el-form-item>
                    </el-form>
                </div>
            </div>
        </el-main>
    </el-container>
</template>

<script>
    import Errors from '~/includes/_common_/Errors';
    import appHeader from '~/components/_common_/Header';
    import swNewVersionIsAvailable from '~/mixins/swNewVersionIsAvailable';
    import {verifyLegalRepresentative} from '~/includes/endpoints';

    export default {
        name: 'Verification',
        components: {
            'app-header': appHeader,
        },
        mixins: [swNewVersionIsAvailable],
        data: () => ({
            loading: {
                form: false,
            },
            errors: new Errors(),

            form: {
                email: '',
                password: '',
                password_confirmation: '',
            },
            rules: {
                email: [{required: true, type: 'email'}],
                password: [{required: true}],
                password_confirmation: [{required: true, message: 'please, confirm your password'}],
            },
        }),
        methods: {
            submit() {
                this.loading.form = true;
                const hash = this.$route.params.hash;

                verifyLegalRepresentative(hash, this.form).then(res => {
                    this.$message.success(res.data.message);
                    this.$router.push({name: 'Login'});
                }).catch(async error => {
                    await this.$errors.handle(error);
                    this.errors.record(this.$errors.all());
                }).finally(() => {
                    this.loading.form = false;
                });
            },
        },
    };
</script>

<style lang="scss" scoped>
@import "~@/element-ui-colors";
@import "~@/element-ui-variables";

.verification-screen {
    min-height: 100%;
    &.background-image {
        background-image: url("../../../img/header-image.jpg");
        background-size: cover;
        background-position: center;

        &:before {
            background-image: repeating-radial-gradient(circle at center, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) 2px, transparent 2px, transparent 100%);
            background-size: 6px 6px;
        }
    }
    &:before {
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        min-height: 600px;
        @media (max-width: $--xs - 1) {
            min-height: 500px;
        }
    }
    .verification-section {
        padding-top: 140px;
        padding-bottom: 0;
        min-height: 600px;
        display: flex;
        align-items: center;
        align-content: center;
        @media (max-width: $--xs - 1) {
            min-height: 500px;
            padding-top: 80px;
        }
    }

    .v-align-container {
        width: 100%;
    }

    .verification-container {
        -webkit-border-radius: 5px;
        border-radius: 5px;
        -moz-border-radius: 5px;
        background-clip: padding-box;
        margin: 0 auto;
        position: relative;
        top: 10%;
        min-width: 170px;
        max-width: 350px;
        padding: 34px;
        background-color: rgba(255, 255, 255, 0.9);
        border: 1px solid $--border-color-base;
        box-shadow: $--box-shadow-light;
        .title {
            margin-bottom: 18px;
            margin-top: 0;
            font-size: 22px;
            text-align: center;
            color: $--color-text-primary;
        }
        .remember {
            margin: 0 0 22px 0;
        }
        @media (max-width: $--xs - 1) {
            padding: 15px;
        }
    }

}
</style>
