<template>
    <section id="personnel">
        <h2 class="page-title">
            Personnel
        </h2>

        <!-- search bar Add -->
        <el-col :span="24" class="m-t-10 p-b-0">
            <el-form :inline="true" :model="listFilters" size="mini" @submit.native.prevent="fetchPersonnel">
                <el-form-item>
                    <el-button type="primary" icon="el-icon-plus" @click="handleAddPersonnel">
                        Add
                    </el-button>
                </el-form-item>
                <el-form-item class="search-input">
                    <el-input v-model="listFilters.term" placeholder="Search..." @input="applySearch">
                        <i
                            v-if="listFilters.term.length"
                            slot="suffix"
                            class="el-input__icon el-icon-error"
                            @click="clearSearch"></i>
                    </el-input>
                </el-form-item>
            </el-form>
        </el-col>

        <!-- table -->
        <el-table
            v-loading="loading.list"
            :data="personnel"
            highlight-current-row>
            <el-table-column prop="full_name" label="Name"></el-table-column>
            <el-table-column prop="email" label="Email"></el-table-column>
            <el-table-column prop="rolesString" label="Roles"></el-table-column>
            <el-table-column prop="specializationsString" label="Specializations"></el-table-column>
            <el-table-column label="Actions" width="130">
                <template slot-scope="scope">
                    <el-button size="mini" icon="el-icon-edit" @click="handleEditPersonnel(scope.row)"></el-button>
                    <el-button type="danger" size="mini" icon="el-icon-delete" @click="handleDelete(scope.row)"></el-button>
                </template>
            </el-table-column>
        </el-table>

        <!-- pagination -->
        <el-col :span="24" class="el-pagination">
            <el-pagination
                class="pull-right"
                layout="sizes, prev, pager, next"
                :page-size="listFilters.pagination.pageSize"
                :total="total"
                @size-change="fetchPersonnel"
                @current-change="fetchPersonnel">
            </el-pagination>
        </el-col>

        <!-- create contact dialog -->
        <el-dialog
            :title="formTitle"
            :visible.sync="visible.dialog"
            :close-on-click-modal="false"
            :close-on-press-escape="false"
            :show-close="!loading.dialog"
            :append-to-body="true"
            class="personnel-dialog">
            <el-form
                ref="dialogForm"
                :model="form"
                label-width="140px"
                :rules="rules"
                @submit.native.prevent="handleSubmit">
                <!-- full name -->
                <el-row>
                    <el-col class="dialog-double-input_block">
                        <el-form-item class="dialog-input-left" label="Name" prop="first_name" :error="errors.get('first_name')">
                            <el-input
                                v-model="form.first_name"
                                placeholder="First name"
                                @change="errors.clear('first_name')"></el-input>
                        </el-form-item>
                        <el-form-item class="dialog-input-right" label-width="0px" prop="last_name" :error="errors.get('last_name')">
                            <el-input
                                v-model="form.last_name"
                                placeholder="Last name"
                                @change="errors.clear('last_name')"></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <!-- email -->
                <el-form-item label="Email" prop="email" :error="errors.get('email')">
                    <el-input
                        v-model="form.email"
                        placeholder="Email"
                        @change="errors.clear('email')"></el-input>
                </el-form-item>
                <el-form-item label="Date of birth" prop="date_of_birth" :error="errors.get('date_of_birth')">
                    <date-picker-multiple-format
                        v-model="form.date_of_birth"
                        style="width: 100%;"
                        type="date"
                        placeholder="Pick a date"
                        clearable
                        :picker-options="{disabledDate: (time) => time.getTime() > Date.now()}"
                        :value-format="dateFormat"
                        :format="dateFormat"
                        @change="errors.clear('date_of_birth')"></date-picker-multiple-format>
                </el-form-item>
                <!-- phone -->
                <el-row>
                    <el-col class="dialog-double-input_block">
                        <el-form-item class="dialog-input-left" label="Phone" prop="mobile_phone_number" :error="errors.get('mobile_phone_number')">
                            <el-input
                                v-model="form.mobile_phone_number"
                                type="phone"
                                placeholder="Mobile phone number*"
                                autocomplete="on"
                                @change="errors.clear('mobile_phone_number')"></el-input>
                        </el-form-item>
                        <el-form-item class="dialog-input-right" label-width="0px" prop="home_phone_number" :error="errors.get('home_phone_number')">
                            <el-input
                                v-model="form.home_phone_number"
                                type="phone"
                                placeholder="Direct number"
                                autocomplete="on"
                                @change="errors.clear('home_phone_number')"></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <!-- Address -->
                <el-row>
                    <el-col :span="24">
                        <el-form-item label="Address" prop="address" :error="errors.get('address')">
                            <div class="el-input el-input--suffix">
                                <GmapAutocomplete
                                    id="personnel-address"
                                    :options="autocompleteOptions"
                                    :value="form.address"
                                    class="el-input__inner"
                                    @change="changeAddress"
                                    @place_changed="handleAddressChange">
                                </GmapAutocomplete>
                                <i class="el-input__suffix el-input__icon el-icon-location-outline"></i>
                            </div>
                        </el-form-item>
                    </el-col>
                </el-row>
                <!-- login details -->
                <el-row>
                    <el-col class="dialog-double-input_block">
                        <el-form-item class="dialog-input-left" label="Login details" prop="login_email" :error="errors.get('login_email')">
                            <el-input
                                v-model="form.login_email"
                                type="email"
                                placeholder="Email"
                                autocomplete="on"
                                @change="errors.clear('login_email')"></el-input>
                        </el-form-item>
                        <el-form-item class="dialog-input-right" label-width="0px" prop="login_password" :error="errors.get('login_password')">
                            <el-input
                                v-model="form.login_password"
                                show-password
                                type="password"
                                placeholder="Password"
                                autocomplete="on"
                                @change="errors.clear('login_password')"></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <!-- companies -->
                <el-form-item label="Companies" prop="companies" :error="errors.get('companies')">
                    <el-select
                        v-model="form.companies"
                        multiple
                        placeholder="Select companies"
                        style="display: block;">
                        <el-option
                            v-for="item in available_companies"
                            :key="item.id"
                            :label="item.business_name"
                            :value="item.id">
                        </el-option>
                    </el-select>
                </el-form-item>
                <!-- specialization -->
                <template v-for="(specialization, idx) in form.specializations">
                    <el-row :key="idx">
                        <el-col class="dialog-double-input_block">
                            <!-- pick a specialization -->
                            <el-form-item
                                class="mobile-full-width dialog-input-left"
                                :prop="`specializations.${idx}.id`"
                                label="Specialization"
                                :rules="{required: true, message: 'Specialization is required'}">
                                <el-select
                                    v-model="specialization.id"
                                    autocomplete="off"
                                    clearable
                                    filterable
                                    placeholder="Pick a specialization"
                                    style="width: 100%;">
                                    <el-option
                                        v-for="spec in specializations"
                                        :key="spec.id"
                                        :label="spec.name"
                                        :value="spec.id">
                                        <span style="float: left">{{ spec.name }}</span>
                                        <span style="float: right; color: #8492a6; font-size: 13px">{{ spec.service_type }}</span>
                                    </el-option>
                                </el-select>
                            </el-form-item>
                            <!-- AHPRA registration number -->
                            <el-form-item
                                class="mobile-full-width dialog-input-right"
                                :prop="`specializations.${idx}.ahpra_registration_number`"
                                label-width="0px"
                                :rules="{required: true, message: 'AHPRA registration number is required'}"
                                :error="errors.get(`specializations.${idx}.ahpra_registration_number`)">
                                <el-input
                                    v-model="specialization.ahpra_registration_number"
                                    autocomplete="off"
                                    placeholder="AHPRA registration number"
                                    @change="errors.clear(`specializations.${idx}.ahpra_registration_number`)"></el-input>
                            </el-form-item>
                            <el-button
                                class="btn-add-del-spec"
                                :disabled="form.specializations.length <= 1"
                                type="danger"
                                icon="el-icon-delete"
                                @click="handleDeleteSpecialization(idx)"></el-button>
                        </el-col>
                    </el-row>
                </template>
                <!-- add specialization -->
                <el-row>
                    <el-col class="dialog-add-spec-area">
                        <el-tooltip placement="right" content="Add new specialization">
                            <el-button
                                class="btn-add-del-spec"
                                type="primary"
                                icon="el-icon-plus"
                                @click="handleAddSpecialization"></el-button>
                        </el-tooltip>
                    </el-col>
                </el-row>
            </el-form>

            <div slot="footer" class="dialog-footer">
                <el-button :disabled="loading.dialog" @click.native="visible.dialog = false">
                    Cancel
                </el-button>
                <el-button type="primary" :loading="loading.dialog" @click.native="handleSubmit">
                    {{ form.id ? 'Update' : 'Save' }}
                </el-button>
            </div>
        </el-dialog>
    </section>
</template>

<script>
    import {
        destroyPersonnel,
        getPersonnelList,
        getSpecializationListForPersonnel,
        storePersonnel,
        updatePersonnel,
        getMyCompanies,
    } from '~/includes/endpoints';
    import Errors from '~/includes/_common_/Errors';
    import DatePickerMultipleFormat from '~/components/_common_/DatePickerMultipleFormat';
    import app_data from '~/includes/app_data';
    import common from '~/mixins/common';
    import {methods} from '~/includes/_common_/util';

    const CancelToken = Axios.CancelToken;

    let defaultForm = {
        first_name: '',
        last_name: '',
        email: '',
        date_of_birth: '',
        mobile_phone_number: '',
        home_phone_number: '',
        address: '',
        postcode: '',
        country: '',
        login_email: '',
        login_password: '',
        companies: [],
        specializations: [
            {
                id: null,
                ahpra_registration_number: '',
            },
        ],
    };

    export default {
        name: 'Personnel',
        components: {
            DatePickerMultipleFormat,
        },
        mixins: [common],
        data: () => ({
            listFilters: {
                term: '',
                pagination: {
                    pageSize: 10,
                    page: 1,
                },
            },
            total: 0,

            loading: {
                list: true,
                dialog: false,
            },
            visible: {
                dialog: false,
            },

            errors: new Errors(),

            cancelTokens: {
                list: CancelToken.source(),
            },

            countryList: app_data.countryList,
            streetTypes: app_data.streetTypes,
            dateFormat: window.Laravel.formatDate.datepickerDate,

            personnel: [],
            specializations: [],
            available_companies: [],

            form: {...defaultForm},
            formTitle: 'Add Personnel',
            rules: {
                first_name: [
                    {required: true, message: 'First name is required'},
                ],
                last_name: [
                    {required: true, message: 'Last name is required'},
                ],
                date_of_birth: [
                    {required: true, message: 'Date of birth is required'},
                ],
                mobile_phone_number: [
                    {required: true, message: 'Mobile phone number is required'},
                ],
                email: [
                    {required: true, message: 'Email is required'},
                    {type: 'email', message: 'Please, use a valid email address'},
                ],
                login_email: [
                    {required: true, message: 'Email is required'},
                    {type: 'email', message: 'Please, use a valid email address'},
                ],
                login_password: [
                    {required: true, message: 'Password is required'},
                ],
                companies: [
                    {type: 'array', required: true, message: 'Please select at least one company'},
                ],
            },
        }),
        computed: {
            _: _,
        },
        mounted() {
            this.fetchPersonnel();
            this.fetchSpecializations();
            this.fetchCompanies();
        },
        methods: {
            ...methods,
            fetchPersonnel() {
                this.loading.list = true;
                if (this.cancelTokens.list) {
                    this.cancelTokens.list.cancel('Another personnel list fetched');
                }

                this.cancelTokens.list = CancelToken.source();

                getPersonnelList(this.listFilters, {cancelToken: this.cancelTokens.list.token}).then(({data}) => {
                    this.personnel = data.data.map(item => {
                        return {
                            ...item,
                            rolesString: _.map(item.user.roles, 'display_name').join(', '),
                            specializationsString: _.map(item.specializations, 'name').join(', '),
                        };
                    });
                    this.total = data.total;
                }).catch(error => {
                    this.$errors.handle(error);
                }).finally(() => {
                    this.loading.list = false;
                });
            },
            fetchCompanies() {
                this.loading.list = true;

                getMyCompanies().then(({data}) => {
                    this.available_companies = data;
                    defaultForm.companies = data.length === 1 ? [data[0].id] : [];
                }).catch(error => {
                    this.$errors.handle(error);
                }).finally(() => {
                    this.loading.list = false;
                });
            },
            fetchSpecializations() {
                getSpecializationListForPersonnel().then(response => {
                    this.specializations = response.data;
                }).catch(error => {
                    this.$errors.handle(error);
                });
            },
            // event open modal
            handleAddPersonnel() {
                this.form = {...defaultForm};
                this.rules.login_password[0].required = true;

                this.formTitle = 'Add Personnel';
                this.toggleDialogForm(true);
            },
            // event edit personal
            handleEditPersonnel(personnel) {
                this.form = _.cloneDeep(personnel);
                this.form.login_email = this.form.user.email;
                this.form.specializations = personnel.specializations.map(item => ({
                    id: item.pivot.specialization_id,
                    ahpra_registration_number: item.pivot.ahpra_registration_number,
                }));
                this.rules.login_password[0].required = false;
                this.formTitle = 'Edit Personnel';
                this.toggleDialogForm(true);
            },
            toggleDialogForm(showDialog) {
                this.loading.dialog = false;
                this.visible.dialog = !!showDialog;
                this.errors.clear(undefined);
                if (this.$refs.dialogForm) {
                    this.$refs.dialogForm.resetFields();
                }
            },
            // event save, update
            handleSubmit() {
                this.$refs.dialogForm.validate(isValid => {
                    if (!isValid) {
                        return 1;
                    }

                    this.loading.dialog = true;
                    this.errors.clear(undefined);
                    let action = this.form.id ? updatePersonnel : storePersonnel;

                    action(this.form).then(() => {
                        this.$message.success(this.form.id ? 'Personnel updated' : 'Personnel created');
                        this.toggleDialogForm(false);
                        this.fetchPersonnel();
                    }).catch(async error => {
                        await this.$errors.handle(error);
                        this.errors.record(this.$errors.all());
                    }).finally(() => {
                        this.loading.dialog = false;
                    });
                });
            },
            handleDelete(personnel) {
                this.$confirm('This will permanently delete the personnel. Continue?', 'Warning', {
                    type: 'warning',
                }).then(() => {
                    destroyPersonnel(personnel.id).then(() => {
                        this.$message.success('Personnel deleted');
                    }).catch(error => {
                        this.$errors.handle(error);
                    }).finally(() => {
                        this.fetchPersonnel();
                    });
                });
            },

            handleAddSpecialization() {
                this.form.specializations.push({
                    name: '',
                    ahpra_registration_number: '',
                });
            },
            handleDeleteSpecialization(idx) {
                this.form.specializations.splice(idx, 1);
            },

            applySearch: _.debounce(function() {
                this.fetchPersonnel();
            }, 300),
            clearSearch() {
                this.listFilters.term = '';
                this.fetchPersonnel();
            },
            handleAddressChange(data) {
                let address = this.getAddress(data);
                this.mergeExistingFields(this.form, address);
            },
        },
    };
</script>

<style lang="scss" scoped>
    @import "~element-ui/packages/theme-chalk/src/mixins/mixins";
    @import "~@/element-ui-variables";

    .dialog-add-spec-area {
        display: flex;
        justify-content: flex-end;
        @include res(xxs-only, $--breakpoints-spec) {
            justify-content: flex-start;
            margin-top: 20px;
        }
    }

    .btn-add-del-spec {
        display: flex;
        justify-content: center;
        width: #{$--input-height + 5};
        margin-left: 10px;
        height: $--input-height;
        @include res(xxs-only, $--breakpoints-spec) {
            margin-left: 0;
        }
    }
</style>
