<template>
    <section id="rates">
        <h2 class="page-title">
            Rates
        </h2>

        <!-- search bar -->
        <el-col :span="24" class="m-t-10 p-b-0">
            <el-form :inline="true" :model="listFilters" size="mini" @submit.native.prevent="fetchRates">
                <el-form-item>
                    <el-button type="primary" icon="el-icon-plus" @click="handleAddRate">
                        Add
                    </el-button>
                </el-form-item>
                <el-form-item class="search-input">
                    <el-input v-model="listFilters.term" placeholder="Search..." @input="applySearch">
                        <i
                            v-if="listFilters.term.length"
                            slot="suffix"
                            class="el-input__icon el-icon-error"
                            @click="clearSearch"></i>
                    </el-input>
                </el-form-item>
            </el-form>
        </el-col>

        <!-- table -->
        <el-table
            v-loading="loading.list"
            :data="rates"
            highlight-current-row>
            <el-table-column v-if="user.userAccessLevel === 0" prop="company.business_name" label="Company"></el-table-column>
            <el-table-column prop="specialization.service_type.service_name" label="Service Type"></el-table-column>
            <el-table-column prop="specialization.name" label="Specialization"></el-table-column>
            <el-table-column prop="rate_amount" label="Rate"></el-table-column>
            <el-table-column prop="rate_date_human" label="Start Date"></el-table-column>
            <el-table-column label="Actions" width="130">
                <template slot-scope="scope">
                    <el-button size="mini" icon="el-icon-edit" @click="handleEditRate(scope.row)"></el-button>
                    <el-button type="danger" size="mini" icon="el-icon-delete" @click="handleDeleteRate(scope.row)"></el-button>
                </template>
            </el-table-column>
        </el-table>

        <!-- pagination -->
        <el-col :span="24" class="el-pagination">
            <el-pagination
                class="pull-right"
                layout="sizes, prev, pager, next"
                :page-size="listFilters.pagination.pageSize"
                :total="total"
                @size-change="fetchRates"
                @current-change="fetchRates">
            </el-pagination>
        </el-col>

        <!-- create rate dialog -->
        <el-dialog
            :title="formTitle"
            :visible.sync="visible.dialog"
            :close-on-click-modal="false"
            :close-on-press-escape="false"
            :show-close="!loading.dialog"
            :append-to-body="true"
            class="rates-dialog">
            <el-form
                ref="dialogForm"
                :model="form"
                label-width="140px"
                :rules="computedRules"
                @submit.native.prevent="handleSubmitRate">
                <el-form-item v-if="user.userAccessLevel === 0" label="Company" prop="company_id" :error="errors.get('company_id')">
                    <el-select
                        v-model="form.company_id"
                        v-loading="loading.specializations"
                        clearable
                        placeholder="Pick a company"
                        style="width: 100%;"
                        @change="errors.clear('company_id')">
                        <el-option
                            v-for="company in companies"
                            :key="company.id"
                            :label="company.business_name"
                            :value="company.id">
                        </el-option>
                    </el-select>
                </el-form-item>

                <el-form-item label="Specialization" prop="specialization_id" :error="errors.get('specialization_id')">
                    <el-select
                        v-model="form.specialization_id"
                        v-loading="loading.specializations"
                        clearable
                        placeholder="Pick a specialization"
                        style="width: 100%;"
                        @change="errors.clear('specialization_id')">
                        <el-option
                            v-for="specialization in specializations"
                            :key="specialization.id"
                            :label="specialization.name"
                            :value="specialization.id">
                            <span style="float: left">{{ specialization.name }}</span>
                            <span style="float: right; color: #8492a6; font-size: 13px">{{ specialization.service_type.name }}</span>
                        </el-option>
                    </el-select>
                </el-form-item>

                <el-form-item label="Rate" prop="rate_amount" :error="errors.get('rate_amount')">
                    <el-input
                        v-model="form.rate_amount"
                        min="1"
                        suffix-icon="el-icon-fa-dollar-sign"
                        type="number"
                        @change="errors.clear('rate_amount')">
                    </el-input>
                </el-form-item>

                <el-form-item label="Date" prop="rate_date" :error="errors.get('rate_date')">
                    <date-picker-multiple-format
                        v-model="form.rate_date"
                        style="width: 100%;"
                        type="date"
                        placeholder="Pick a date"
                        clearable
                        :value-format="dateFormat"
                        :format="dateFormat"
                        @change="errors.clear('rate_date')"></date-picker-multiple-format>
                </el-form-item>
            </el-form>

            <div slot="footer" class="dialog-footer">
                <el-button :disabled="loading.dialog" @click.native="visible.dialog = false">
                    Cancel
                </el-button>
                <el-button type="primary" :loading="loading.dialog" @click.native="handleSubmitRate">
                    {{ form.id ? 'Update' : 'Save' }}
                </el-button>
            </div>
        </el-dialog>
    </section>
</template>

<script>
    import moment from 'moment';
    import DatePickerMultipleFormat from '~/components/_common_/DatePickerMultipleFormat';
    import Errors from '~/includes/_common_/Errors';
    import {methods} from '~/includes/_common_/util';
    import {
        getServiceProviderRateList,
        storeServiceProviderRate,
        updateServiceProviderRate,
        destroyServiceProviderRate,
        getSpecializationsListForServiceProviderRates,
        getCompaniesListForServiceProviderRates,
    } from '~/includes/endpoints';

    const CancelToken = Axios.CancelToken;

    const formTemplate = {
        specialization_id: null,
        rate_amount: '',
        rate_date: null,
    };

    export default {
        name: 'Rates',
        components: {
            DatePickerMultipleFormat,
        },
        data: () => ({
            listFilters: {
                term: '',
                pagination: {
                    pageSize: 10,
                    page: 1,
                },
            },
            total: 0,

            loading: {
                list: true,
                dialog: false,
                specializations: true,
                companies: true,
            },

            visible: {
                dialog: false,
            },

            errors: new Errors(),

            cancelTokens: {
                list: CancelToken.source(),
            },

            rates: [],
            specializations: [],
            companies: [],

            dateFormat: window.Laravel.formatDate.datepickerDate,

            formTitle: 'New Rate',
            form: {...formTemplate},
            rules: {
                specialization_id: [
                    {required: true, message: 'Specialization is required'},
                ],
                rate_amount: [
                    {required: true, message: 'Rate is required'},
                ],
                rate_date: [
                    {required: true, message: 'Date is required'},
                ],
            },
        }),
        computed: {
            _: _,
            user: function() {
                return this.$auth.user();
            },
            computedRules: function() {
                let rules = _.cloneDeep(this.rules);

                if (this.user.userAccessLevel === 0) {
                    rules.company_id = [
                        {required: true, message: 'Company is required'},
                    ];
                }

                return rules;
            },
        },
        mounted() {
            this.fetchRates();
            this.fetchSpecializations();
            this.fetchCompanies();
        },
        methods: {
            ...methods,
            applySearch: _.debounce(function() {
                this.fetchRates();
            }, 300),
            clearSearch() {
                this.listFilters.term = '';
                this.fetchRates();
            },

            fetchRates() {
                this.loading.list = true;

                if (this.cancelTokens.list) {
                    this.cancelTokens.list.cancel('Another rates list fetched');
                }

                this.cancelTokens.list = CancelToken.source();

                getServiceProviderRateList(this.listFilters, {cancelToken: this.cancelTokens.list.token}).then(res => {
                    this.rates = res.data.data;
                    this.total = res.data.total;
                }).catch(error => {
                    this.$errors.handle(error);
                }).finally(() => {
                    this.loading.list = false;
                });
            },
            fetchSpecializations() {
                this.loading.specializations = true;

                getSpecializationsListForServiceProviderRates().then(res => {
                    this.specializations = res.data.data;
                }).catch(error => {
                    this.$errors.handle(error);
                }).finally(() => {
                    this.loading.specializations = false;
                });
            },
            fetchCompanies() {
                this.loading.companies = true;

                getCompaniesListForServiceProviderRates().then(res => {
                    this.companies = res.data.data;
                }).catch(error => {
                    this.$errors.handle(error);
                }).finally(() => {
                    this.loading.companies = false;
                });
            },
            handleAddRate() {
                this.formTitle = 'New Rate';
                this.form = {...formTemplate};
                this.errors = new Errors();
                if (this.$refs.dialogForm) {
                    this.$refs.dialogForm.resetFields();
                }
                this.visible.dialog = true;
            },
            handleEditRate(rate) {
                this.formTitle = 'Edit Rate';
                this.form = _.cloneDeep(rate);
                this.form.rate_date = moment(new Date(rate.rate_date)).format(window.Laravel.formatDate.globalDate);
                this.errors = new Errors();
                if (this.$refs.dialogForm) {
                    this.$refs.dialogForm.resetFields();
                }
                this.visible.dialog = true;
            },
            handleDeleteRate(rate) {
                this.$confirm('This will permanently delete the rate. Continue?', 'Warning', {
                    type: 'warning',
                }).then(() => {
                    this.loading.list = true;

                    destroyServiceProviderRate(rate.id).then(() => {
                        this.$message.success('Rate deleted');
                    }).catch((error) => {
                        this.$errors.handle(error);
                    }).finally(() => {
                        this.loading.list = false;
                        this.fetchRates();
                    });
                });
            },
            handleSubmitRate() {
                this.$refs.dialogForm.validate((valid) => {
                    if (!valid) {
                        return 0;
                    }

                    this.loading.dialog = true;
                    this.errors.clear(undefined);
                    let action = this.form.id ? updateServiceProviderRate : storeServiceProviderRate;

                    action(this.form).then(() => {
                        this.$message.success(this.form.id ? 'Rate updated' : 'Rate created');
                        this.visible.dialog = false;
                        this.fetchRates();
                    }).catch(async error => {
                        await this.$errors.handle(error);
                        this.errors.record(this.$errors.all());
                    }).finally(() => {
                        this.loading.dialog = false;
                    });
                });
            },
        },
    };
</script>

<style scoped>

</style>
