<template>
    <section id="contacts">
        <h2 class="page-title">
            Service Booking
        </h2>

        <bookings-table :data="bookings.list" :loading="bookings.loading" @sort-change="handleSort">
        </bookings-table>

        <el-col :span="24" class="el-pagination">
            <el-pagination
                layout="sizes, prev, pager, next"
                :page-size="pagination.pageSize"
                :total="bookings.total"
                style="float:right;"
                @size-change="handlePageSizeChange"
                @current-change="handlePageChange">
            </el-pagination>
        </el-col>
    </section>
</template>

<script>

    import {getProviderBookingList} from '~/includes/endpoints';
    import {pagination} from '~/mixins/pagination';
    import BookingsTable from '~/views/ServiceProvider/Bookings/BookingsTable';

    const DEFAULT_SORT = 'id,desc';

    export default {
        name: 'Bookings',
        components: {BookingsTable},
        mixins: [pagination],
        data: () => ({
            bookings: {
                loading: true,
                list: [],
                total: 0,
            },
            filters: {
            },
        }),
        mounted() {
            this.fetchBookings();
        },
        methods: {
            fetchBookings() {
                this.bookings.loading = true;
                getProviderBookingList({...this.pagination, ...this.filters})
                    .then(({data}) => {
                        this.bookings.list = data.data;
                        this.bookings.total = data.total;
                    })
                    .catch(this.$errors.handle)
                    .finally(() => this.bookings.loading = false);
            },
            handlePaginationChanges() {
                this.fetchBookings();
            },
            handleSort(val) {
                this.filters.sortBy = DEFAULT_SORT;
                if (val.prop && val.order) {
                    const sort = val.order.startsWith('a') ? 'asc' : 'desc';
                    this.filters.sortBy = val.prop + ',' + sort;
                }
                this.fetchBookings();
            },
        },
    };
</script>

<style scoped lang="scss">

</style>