<template>
    <el-table
        :loading="loading"
        :data="data"
        stripe
        highlight-current-row
        class="bookings-table"
        :row-class-name="getRowClassName"
        @sort-change="$emit('sort-change', $event)">
        <el-table-column label="Status" prop="status" sortable></el-table-column>
        <el-table-column label="Service Type" prop="service_type_id" sortable>
            <template slot-scope="{row}">
                {{ row.service_type.service_name }}
            </template>
        </el-table-column>
        <el-table-column label="Location" prop="address" sortable></el-table-column>
        <el-table-column label="Frequency" prop="frequency" sortable></el-table-column>
        <el-table-column label="Time Start" prop="start_time" sortable></el-table-column>
        <el-table-column label="Time End" prop="end_time" sortable></el-table-column>
        <el-table-column label="Date Start Period" prop="start_date" sortable min-width="80px">
            <template slot-scope="{row}">
                {{ row.start_date | formatDate }}
            </template>
        </el-table-column>
        <el-table-column label="Date End Period" prop="end_date" sortable min-width="80px">
            <template slot-scope="{row}">
                {{ row.end_date | formatDate }}
            </template>
        </el-table-column>
        <el-table-column prop="rate" label="Service Provider Rate (per Session)" sortable min-width="90px">
            <template slot-scope="{row}">
                <el-tooltip v-if="row.rate && !row.invoice" effect="dark" content="Not finalized" placement="top-end">
                    <i>{{ row.rate | formatPrice }}</i>
                </el-tooltip>
                <template v-else>
                    {{ row.rate | formatPrice }}
                </template>
            </template>
        </el-table-column>
    </el-table>
</template>

<script>
    export default {
        name: 'BookingsTable',
        filters: {
            formatDate(date) {
                return moment(date).format(Laravel.formatDate.serverDate);
            },
            formatPrice(rate) {
                return rate ? '$' + rate : '';
            },
        },
        props: {
            data: {
                type: Array,
                default: () => [],
            },
            loading: {
                type: Boolean,
                default: false,
            },
        },
        methods: {
            getRowClassName({row}) {
                return row.service_provider_id ? '' : 'pending-row';
            },
        },
    };
</script>

<style scoped lang="scss">
    @import "~@/element-ui";

    .bookings-table {
        ::v-deep .cell {
            word-break: break-word;
        }

        ::v-deep .pending-row {
            color: $--color-text-secondary;
        }
    }
</style>