<template>
</template>

<style lang="scss" scoped="">
    @import "../../../../sass/element-ui-colors";
    @import "../../../../sass/element-ui-variables";
</style>

<script>
    export default {
        data() {
            return {
                laravel: Laravel,
                wordpressURL: '#',
            };
        },
    };
</script>