<template>
    <section id="dashboard">
        <h2 class="page-title">
            Dashboard
        </h2>
    </section>
</template>

<script>
    export default {
        mounted() {},
    };
</script>

<style lang="scss" scoped>
</style>
