
// Fonts
// @import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
// @import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700');

// Variables
@import "variables";

// Bootstrap
// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// @import "node_modules/element-theme-default";

//@import "../../../node_modules/font-awesome/scss/font-awesome";
//$fa-css-prefix: el-icon-fa;

// font-awesome: Concatenates with '/' between path and font name.

@import "element-ui";

$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
$fa-css-prefix: el-icon-fa;

@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';

//noinspection CssNoGenericFontName
[class^="el-icon-fa"],
[class*=" el-icon-fa"] {
  font-family: 'Font Awesome 5 Free', 'Font Awesome 5 Brands' !important;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-size: inherit;
  text-rendering: auto;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
};

.search-input {
  float: right;
}

@import "style";
@import "icons";
@import "full-calendar";
