.crop-wrap {
  display: flex;
  margin-left: 10px;
}
.logo-uploader-wrap {
  border: 1px dashed $--border-color-base;
  border-radius: 3px;
  width: 132px;
  height: 132px;
  .btn{
    font-size: 60px;
  }
  .logo-uploader-img-wrap {
    cursor: pointer;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 130px;
      height: 130px;
    }
  }
  .icon {
    width: 100px;
    height: 100px
  }
}
.logo-uploader-wrap{
  position: relative;
}
.logo-uploader-delete{
  position: relative;
  width: 20px;
  left: 105px;
  color: $--color-white;
  height: 20px;
  bottom: 25px;
  background-color: $--color-danger;
  border-color: $--color-danger;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  :hover{
    background-color: $--background-color-button-danger-hover;
    border-color: $--background-color-button-danger-hover;
  }
  :active{
    background-color: $--background-color-button-danger-active;
    border-color: $--background-color-button-danger-active;
  }
}
.vicp-close {
  display: none;
}
.vue-image-crop-upload {
  .vicp-wrap {
    .vicp-operate {
      border-radius: 4px;
    }
  }
}
.vicp-step2, .vicp-step3 {
  .vicp-operate {
    a {
      display: inline-block;
      line-height: 1;
      white-space: nowrap;
      cursor: pointer;
      text-align: center;
      box-sizing: border-box;
      outline: none;
      margin: 0;
      transition: .1s;
      font-weight: 500;
    }
  }
}
.vicp-step1 {
  .vicp-operate {
    a {
      background: $--color-white;
      border: 1px solid $--border-color-base;
      color: $--color-text-regular !important;
       :hover {
        color: $--button-font-color-default-hover;
        border-color: $--border-color-button-default-hover;
        background-color: $--background-color-button-default-hover;
      }
      :active {
        color: $--button-font-color-default-active;
        border-color: $--border-color-button-default-active;
      }
    }
  }
}

.vicp-step2, .vicp-step3 {
  .vicp-operate {
    a {
      &:first-child {
        background: $--color-white;
        border: 1px solid $--border-color-base !important;
        color: $--color-text-regular !important;
        &:hover {
          color: $--button-font-color-default-hover !important;
          border-color: $--border-color-button-default-hover !important;
          background-color: $--background-color-button-default-hover !important;
        }
        &:active {
          color: $--button-font-color-default-active !important;
          border-color: $--border-color-button-default-active !important;
        }
      }
      &:nth-child(2) {
        color: $--color-white !important;
        background-color: $--color-success !important;
        border-color: $--color-success !important;
        &:hover {
          background: $--background-color-button-success-hover !important;
          border-color: $--border-color-button-success-hover !important;
        }
        &:active {
          background: $--background-color-button-success-active !important;
          border-color: $--border-color-button-success-active !important;
        }
      }
    }

  }
}
