@import "element-ui-colors";
@import "element-ui-variables";

:export {
  input_height: $--input-height;

  primary: $--color-primary;
  primary_dark: $--color-primary-dark;
  secondary: $--color-secondary;
  text_primary: $--color-text-primary;
  text_secondary: $--color-text-secondary;
  text_regular: $--color-text-regular;
  text_placeholder: $--color-text-placeholder;
}