@import "element-ui-colors";

:root {
  --fc-button-text-color: #{$--color-white};
  --fc-button-bg-color: #{$--color-primary};
  --fc-button-border-color: #{$--color-primary};
  --fc-button-hover-bg-color: #{mix($--color-white, $--color-primary, 20)};
  --fc-button-hover-border-color: #{mix($--color-white, $--color-primary, 20)};
  --fc-button-active-bg-color: #{mix($--color-black, $--color-primary, 10)};
  --fc-button-active-border-color: #{mix($--color-black, $--color-primary, 10)};

  --fc-border-color: #{$--border-color-base};

  //Other available colours for FullCalendar component
  //--fc-bg-event-color
  //--fc-highlight-color
  //--fc-neutral-bg-color
  //--fc-event-border-color
  //--fc-event-bg-color
  //--fc-event-text-color
}

.fc .fc-button-primary:focus {
  box-shadow: none !important;
}