<template>
    <section id="dashboard">
        <el-row class="page-header" type="flex" justify="space-between">
            <el-col :span="23">
                <h2 class="page-title">
                    Dashboard
                </h2>
            </el-col>
            <el-col :span="1">
                <el-tooltip class="item" effect="dark" content="Hidden widgets" placement="top-start">
                    <el-dropdown v-if="!!hiddenWidgets.length" class="dropdown-hidden-widgets">
                        <span class="el-dropdown-link"><i class="el-icon-copy-document"></i></span>
                        <el-dropdown-menu v-if="!!hiddenWidgets.length" slot="dropdown">
                            <el-dropdown-item
                                v-for="(hiddenWidget, key) in hiddenWidgets"
                                :key="key"
                                @click.native="makeVisible(hiddenWidget)">
                                {{ hiddenWidget.widget_header }}
                            </el-dropdown-item>
                        </el-dropdown-menu>
                    </el-dropdown>
                </el-tooltip>
            </el-col>
        </el-row>

        <el-row id="staticWidgets" style="padding-right: 10px">
            <el-col v-for="(widget, key) in staticWidgets" :key="key" class="widget-col" :xs="24" :sm="24" :md="12" :lg="6" :xl="6">
                <el-card class="box-card">
                    <component :is="widget.component" :item="widget"></component>
                </el-card>
            </el-col>
        </el-row>

        <grid-layout
            :layout.sync="visibleWidgets"
            :col-num="4"
            :cols="{ lg: 4, md: 4, sm:1, xs: 1, xxs: 1 }"
            :breakpoints="{lg: 1200, md: 996, sm: 768, xs: 480, xxs: 0 }"
            :row-height="30"
            :is-draggable="true"
            :is-resizable="true"
            :vertical-compact="true"
            :responsive="true"
            :margin="[10, 10]"
            @layout-updated="onLayoutUpdated">
            <grid-item
                v-for="item in visibleWidgets"
                :key="item.i"
                :is-resizable="true"
                :is-draggable="true"
                :static="(!!item.is_static)"
                :x="item.x"
                :y="item.y"
                :w="item.w"
                :h="item.h"
                :i="item.i">
                <el-card class="box-card">
                    <div slot="header" class="clearfix widget-header">
                        <el-dropdown placement="bottom-start">
                            <span class="widget-title">{{ item.widget_header }}</span>
                            <el-dropdown-menu slot="dropdown">
                                <el-dropdown-item @click.native="handleDropdownClick('hide', item)">
                                    hide
                                </el-dropdown-item>
                                <el-dropdown-item @click.native="handleDropdownClick('delete', item)">
                                    delete
                                </el-dropdown-item>
                            </el-dropdown-menu>
                        </el-dropdown>
                    </div>
                    <component :is="item.widget_name" :item="item" :is-widget="true"></component>
                </el-card>
            </grid-item>
        </grid-layout>

        <el-dialog
            title="To proceed on using the system, please complete the mandatory details below."
            :visible.sync="visible.contactDialog"
            :show-close="false"
            :close-on-click-modal="false"
            :close-on-press-escape="false"
            width="70%">
            <el-form
                ref="dialogForm"
                :model="contactData"
                label-width="auto"
                :rules="contactRules"
                @submit.native.prevent="handleSubmitContact">
                <el-form-item label="First Name" prop="first_name" :error="errors.get('first_name')">
                    <el-input
                        v-model="contactData.first_name"
                        placeholder="First Name"
                        @change="errors.clear('first_name')"></el-input>
                </el-form-item>
                <el-form-item label="Last Name" prop="last_name" :error="errors.get('last_name')">
                    <el-input
                        v-model="contactData.last_name"
                        placeholder="Last Name"
                        @change="errors.clear('last_name')"></el-input>
                </el-form-item>
                <el-form-item label="Date of Birth" prop="date_of_birth" :error="errors.get('date_of_birth')">
                    <date-picker-multiple-format
                        v-model="contactData.date_of_birth"
                        style="width: 100%;"
                        type="date"
                        placeholder="Pick a date"
                        clearable
                        :picker-options="{disabledDate: (time) => time.getTime() > Date.now()}"
                        :value-format="dateFormat"
                        :format="dateFormat"
                        @change="errors.clear('date_of_birth')">
                    </date-picker-multiple-format>
                </el-form-item>
                <el-form-item label="Email" prop="email" :error="errors.get('email')">
                    <el-input
                        v-model="contactData.email"
                        placeholder="Email"
                        disabled
                        @change="errors.clear('email')"></el-input>
                </el-form-item>
                <el-form-item label="NDIS Number" prop="ndis_number" :error="errors.get('ndis_number')">
                    <el-input
                        v-model="contactData.ndis_number"
                        placeholder="NDIS Number"
                        @change="errors.clear('ndis_number')"></el-input>
                </el-form-item>
                <el-form-item label="Plan Type" prop="plan_type" :error="errors.get('plan_type')">
                    <el-radio-group v-model="contactData.plan_type" style="width: 100%">
                        <el-radio-button v-for="planType in planTypes" :key="planType.id" :label="planType.id">
                            {{ planType.type }}
                        </el-radio-button>
                    </el-radio-group>
                </el-form-item>
                <el-form-item
                    v-show="showSubscriptions"
                    label="Plan"
                    prop="plan_id"
                    :required="isPlanRequired()"
                    :rules="{required: isPlanRequired(), message: 'Plan is required'}"
                    :error="errors.get('plan_id')">
                    <el-select
                        v-model="contactData.plan_id"
                        v-loading="loading.plans"
                        placeholder="Select Your Plan"
                        class="width-full"
                        props="plan_id">
                        <el-option
                            v-for="plan in plans"
                            :key="plan.id"
                            :label="getPlanTitle(plan)"
                            :value="plan.id">
                        </el-option>
                    </el-select>
                </el-form-item>
                <el-form-item v-show="showCardField" label="Card Details" :required="true">
                    <StripeElements
                        :ref="refs.elements"
                        v-slot="{ elements }"
                        :stripe-key="stripe.key"
                        :instance-options="stripe.instanceOptions"
                        :elements-options="stripe.elementsOptions">
                        <StripeElement
                            :ref="refs.card"
                            type="card"
                            :elements="elements"
                            :options="stripe.cardOptions"></StripeElement>
                    </StripeElements>
                </el-form-item>
                <el-form-item
                    v-if="contactData.plan_type === PLAN_TYPE_PLAN_MANAGED"
                    label="Plan Manager"
                    prop="plan_manager_id"
                    :required="isPlanManagerRequired()"
                    :rules="{required: isPlanManagerRequired(), message: 'Plan Manager is required'}"
                    :error="errors.get('plan_manager_id')">
                    <el-select
                        v-model="contactData.plan_manager_id"
                        v-loading="loading.planManagers"
                        placeholder="Select Plan Manager"
                        style="width: 100%;"
                        prop="plan_manager_id"
                        @change="errors.clear('plan_manager_id')">
                        <el-option
                            v-for="item in planManagers"
                            :key="item.id"
                            :label="item.contact_name + ' - ' + item.business_name"
                            :value="item.id">
                        </el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label=" ">
                    <el-checkbox v-model="manuallyEnterAddress">
                        I want to enter address manually
                    </el-checkbox>
                </el-form-item>
                <el-form-item v-if="!manuallyEnterAddress" label="Address" prop="address" :error="errors.get('address')">
                    <div class="el-input el-input--suffix">
                        <GmapAutocomplete
                            id="dashboard-participant-address"
                            :options="autocompleteOptions"
                            :value="contactData.address"
                            class="el-input__inner"
                            @change="changeAddress"
                            @place_changed="handleAddressChange">
                        </GmapAutocomplete>
                        <i class="el-input__suffix el-input__icon el-icon-location-outline"></i>
                    </div>
                </el-form-item>
                <el-form-item v-else label="Address" prop="address" :error="errors.get('address')">
                    <el-row>
                        <el-col :span="24" class="m-b-10">
                            <el-input
                                v-model="contactData.address"
                                placeholder="Address"
                                autocomplete="on"
                                @change="errors.clear('unit_suit_number')">
                            </el-input>
                        </el-col>
                    </el-row>
                    <el-row :gutter="10">
                        <el-col :span="12">
                            <el-input
                                v-model="contactData.postcode"
                                placeholder="Postcode"
                                autocomplete="on"
                                @change="errors.clear('postcode')">
                            </el-input>
                        </el-col>
                        <el-col :span="12">
                            <el-input
                                v-model="contactData.country"
                                placeholder="Country"
                                autocomplete="off"
                                readonly
                                @change="errors.clear('country')">
                            </el-input>
                        </el-col>
                    </el-row>
                </el-form-item>
                <el-form-item
                    v-if="!isParticipantChild"
                    label="Do you have a legal representative?"
                    prop="is_legal_representative_exists"
                    :error="errors.get('is_legal_representative_exists')">
                    <el-radio-group v-model="contactData.is_legal_representative_exists">
                        <el-radio-button :label="true">
                            Yes
                        </el-radio-button>
                        <el-radio-button :label="false">
                            No
                        </el-radio-button>
                    </el-radio-group>
                </el-form-item>
                <el-row
                    v-if="contactData.is_legal_representative_exists || isParticipantChild"
                    :gutter="10">
                    <el-col :span="15">
                        <el-form-item
                            label="Legal Representative"
                            prop="legal_representative.first_name"
                            :rules="[{required: true, message: 'First name is required'}]">
                            <el-input
                                v-model="contactData.legal_representative.first_name"
                                placeholder="First Name"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="9">
                        <el-form-item
                            label-width="0px"
                            prop="legal_representative.last_name"
                            :rules="[{required: true, message: 'Last name is required'}]">
                            <el-input
                                v-model="contactData.legal_representative.last_name"
                                placeholder="Last Name"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="15">
                        <el-form-item
                            label=" "
                            prop="legal_representative.email"
                            :rules="[{required: true, message: 'Email is required'},{type: 'email', message: 'Please input correct email address'}]">
                            <el-input
                                v-model="contactData.legal_representative.email"
                                placeholder="Email"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="9">
                        <el-form-item
                            label-width="0px"
                            prop="legal_representative.mobile_phone_number"
                            :rules="[{required: true, message: 'Phone number is required'}]">
                            <vue-tel-input
                                v-model="contactData.legal_representative.mobile_phone_number"
                                placeholder="Mobile number"
                                suffix-icon="el-icon-fa-phone"
                                @change="errors.clear('legal_representative.mobile_phone_number')"
                                @input="handlePhoneInput">
                            </vue-tel-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="24">
                        <el-form-item
                            label=" "
                            prop="legal_representative.type"
                            :rules="[{required: true, message: 'Type is required'}]">
                            <el-select
                                v-model="contactData.legal_representative.type"
                                placeholder="Select Type"
                                style="width: 100%;">
                                <el-option
                                    v-for="item in legalRepresentativesTypes"
                                    :key="item"
                                    :label="item"
                                    :value="item">
                                </el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                </el-row>
            </el-form>
            <span slot="footer" class="dialog-footer">
                <el-button :loading="loading.contactDialog" type="primary" @click.native="handleSubmitContact">Submit</el-button>
            </span>
        </el-dialog>
    </section>
</template>

<script>
    import {filters, methods} from '~/includes/_common_/util';
    import Errors from '~/includes/_common_/Errors';
    import DatePickerMultipleFormat from '~/components/_common_/DatePickerMultipleFormat';
    import moment from 'moment';
    import VueGridLayout from 'vue-grid-layout';
    import {getDashboardWidgets, removeDashboardWidget, setDashboardWidgetStatic, setDashboardWidgetVisibility, updateLayout} from '~/includes/_common_/endpoints';
    import {storeParticipantContact, getPlanManagers, getPlans} from '~/includes/endpoints';
    import common from '~/mixins/common';
    import {stripeSubscription} from '~/mixins/stripeSubscription';
    import {StripeElement, StripeElements} from 'vue-stripe-elements-plus';
    import NewBooking from './Widgets/NewBooking';
    import UpcomingService from './Widgets/UpcomingService';
    import Calendar from './Widgets/Calendar';

    const PLAN_TYPE_PLAN_MANAGED = 0;
    const PLAN_TYPE_SELF_MANAGED = 1;
    const PLAN_TYPE_AGENCY_MANAGED = 2;

    export default {
        name: 'ParticipantDashboard',
        filters,
        components: {
            StripeElements,
            StripeElement,
            DatePickerMultipleFormat,
            'grid-layout': VueGridLayout.GridLayout,
            'grid-item': VueGridLayout.GridItem,

            // Widgets
            'new-booking': NewBooking,
            'upcoming-service': UpcomingService,
            'calendar': Calendar,
        },
        mixins: [common, stripeSubscription],
        data: () => ({
            PLAN_TYPE_PLAN_MANAGED,
            PLAN_TYPE_SELF_MANAGED,
            PLAN_TYPE_AGENCY_MANAGED,

            dateFormat: window.Laravel.formatDate.datepickerDate,
            visible: {
                contactDialog: false,
            },
            loading: {
                contactDialog: false,
                planManagers: false,
                plans: false,
                layout: true,
            },
            contactData: {
                first_name: '',
                last_name: '',
                email: '',
                password: '********',
                ndis_number: '',
                plan_type: PLAN_TYPE_SELF_MANAGED,
                plan_id: null,
                plan_manager_id: null,
                address: '',
                lat: '',
                lng: '',
                postcode: '',
                country: 'Australia',
                date_of_birth: '',
                is_legal_representative_exists: false,
                legal_representative: {
                    first_name: '',
                    last_name: '',
                    email: '',
                    mobile_phone_number: '',
                    type: '',
                },
            },
            contactRules: {
                first_name: [{required: true, message: 'First name is required'}],
                last_name: [{required: true, message: 'Last name is required'}],
                email: [{required: true, type: 'email'}],
                ndis_number: [{required: true, message: 'NDIS Number is required'}],
                date_of_birth: [{required: true, message: 'Date of birth is required'}],
            },
            errors: new Errors(),
            legalRepresentativesTypes: [
                'Support Coordinator',
                'Legal Guardian',
                'Carer',
                'Child Safety Officer',
                'Trustee',
                'Parent',
                'Partner',
                'Family Members',
            ],
            planTypes: [
                {id: PLAN_TYPE_PLAN_MANAGED, type: 'Plan Managed'},
                {id: PLAN_TYPE_SELF_MANAGED, type: 'Self Managed'},
                {id: PLAN_TYPE_AGENCY_MANAGED, type: 'Agency Managed'},
            ],
            manuallyEnterAddress: false,
            streetTypes: app_data.streetTypes,
            autocompleteAddress: '',
            planManagers: [],
            plans: [],

            visibleWidgets: [],
            hiddenWidgets:[],
            staticWidgets:[],
        }),
        computed: {
            _: _,
            isParticipantChild: function() {
                return moment().diff(moment(this.contactData.date_of_birth, this.dateFormat), 'years') < 18;
            },
            showSubscriptions() {
                return this.contactData.plan_type === PLAN_TYPE_PLAN_MANAGED ||
                    this.contactData.plan_type === PLAN_TYPE_SELF_MANAGED;
            },
            showCardField() {
                return this.contactData.plan_type === PLAN_TYPE_SELF_MANAGED;
            },
        },
        mounted() {
            const subscribed = this.$auth.user().is_subscribed;

            this.fetchWidgets();

            if (this.checkRegistrationAndShowDialog()) {
                this.fetchPlanManagers();
                this.fetchPlans();

                return;
            }

            if (!subscribed) {
                this.notifyIfNotSubscribed();
            }
        },
        methods: {
            ...methods,
            checkRegistrationAndShowDialog: function() {
                const user = this.$auth.user();
                if (!user.contact) {
                    const names = user.name.split(' ', 2);

                    this.contactData.email = user.email;
                    this.contactData.first_name = names[0] ?? user.name;
                    this.contactData.last_name = names[1] ?? '';
                    this.visible.contactDialog = true;
                }

                return !user.contact;
            },
            handleSubmitContact() {
                this.$refs.dialogForm.validate((valid) => {
                    if (!valid) return 0;

                    const contactData = _.cloneDeep(this.contactData);

                    this.loading.contactDialog = true;

                    if (this.isParticipantChild) {
                        contactData.is_legal_representative_exists = true;
                    }

                    if (!contactData.is_legal_representative_exists) {
                        delete contactData.legal_representative;
                    }

                    const that = this;
                    new Promise(function(resolve, reject) {
                        if (that.showCardField) {
                            that.makePayment(resolve, reject, that.contactData.plan_id);
                        } else {
                            resolve();
                        }
                    }).then(async function() {
                        await storeParticipantContact(contactData).then(() => {
                            that.$message.success('Data successfully saved');
                            that.visible.contactDialog = false;

                            that.$auth.fetch().then(({data}) => {
                                !data.is_subscribed && that.notifyIfNotSubscribed();
                            });
                        }).catch(async error => {
                            await that.$errors.handle(error);
                            that.errors.record(that.$errors.all());
                        });
                    }).finally(() => {
                        that.loading.contactDialog = false;
                    });
                });
            },
            handleAddressChange(data) {
                let address = this.getAddress(data);
                this.mergeExistingFields(this.contactData, address);
            },
            handlePhoneInput(str, data) {
                this.$nextTick(() => {
                    this.contactData.legal_representative.mobile_phone_number = this.formatPhoneNumber(data.number || data.formatted);
                });
            },
            getPlanTitle(plan) {
                const {currency, amount, nickname, interval, interval_count} = plan;

                return (nickname ? `${nickname} - ` : '') + `${interval_count} ${interval} (${currency.toUpperCase()} ${amount / 100} GST inclusive) `;
            },
            getPlanManagerTitle({business_name, contact_name}) {
                return `${contact_name} - ${business_name}`;
            },
            fetchPlanManagers() {
                this.loading.planManagers = true;

                getPlanManagers()
                    .then(({data}) => this.planManagers = data)
                    .catch(e => this.$errors.handle(e))
                    .finally(() => this.loading.planManagers = false)
                ;
            },
            fetchPlans() {
                this.loading.plans = true;
                getPlans()
                    .then(({data}) => this.plans = data)
                    .catch(e => this.$errors.handle(e))
                    .finally(() => this.loading.plans = false);
            },
            isPlanRequired() {
                return this.contactData.plan_type !== PLAN_TYPE_AGENCY_MANAGED;
            },
            isPlanManagerRequired() {
                return this.contactData.plan_type === PLAN_TYPE_PLAN_MANAGED;
            },
            notifyIfNotSubscribed() {
                this.$message.error('You don\'t have an active subscription. Some functions are not available.');
            },

            setWidgets(data) {
                this.visibleWidgets = [...data.visibleWidgets];
                this.hiddenWidgets = [...data.hiddenWidgets];
                this.staticWidgets = [...data.staticWidgets];
            },

            fetchWidgets() {
                this.loading.layout = true;

                if (this.$auth.check('widgets.index')) {
                    getDashboardWidgets().then(res => {
                        this.setWidgets(res.data);
                    }).catch(error => {
                        this.$errors.handle(error);
                    }).finally(() => {
                        this.loading.layout = false;
                    });
                } else {
                    this.visibleWidgets = [];
                    this.hiddenWidgets = [];
                    this.staticWidgets = [];
                }
            },
            handleDropdownClick(action, widget) {
                if (action === 'hide') {
                    this.loading.layout = true;
                    setDashboardWidgetVisibility(widget).then(res => {
                        this.setWidgets(res.data);
                        this.$message.success('Widgets updated');
                        this.loading.layout = false;
                    });
                }
                if (action === 'static') {
                    setDashboardWidgetStatic(widget).then(res => {
                        this.setWidgets(res.data);
                        this.$message.success('Widgets updated');
                    });
                }
                if (action === 'delete') {
                    this.$confirm('This will permanently delete the widget. Continue?', 'Warning', {
                        type: 'warning',
                    }).then(() => {
                        this.loading.layout = true;
                        removeDashboardWidget(widget).then(res => {
                            this.setWidgets(res.data);
                            this.$message.success('Widgets updated');
                        }).catch((error) => {
                            this.loading.layout = false;
                            if (error.response.data.message) {
                                this.$message.error(error.response.data.message);
                            } else {
                                this.$message.error('Unknown server error');
                            }
                        });
                    });
                }
            },
            onLayoutUpdated: _.debounce((e) => {
                let items = [];
                _.each(e, o => {items.push({i:o.i, x:o.x, y:o.y, w:o.w, h:o.h});});
                updateLayout(items).then(res => {
                    // this.$message.success('Widgets updated');
                });
            }, 1000),
            makeVisible(widget) {
                this.loading.layout = true;
                setDashboardWidgetVisibility(widget).then(res => {
                    this.setWidgets(res.data);
                    this.$message.success('Widgets updated');
                });
            },
        },
    };
</script>

<style lang="scss" scoped>
    @import "~@/element-ui";

    .page-header {
        padding: 0 10px;
    }

    /deep/ .el-card {
        margin-bottom: 0;
        height: 100%;
        overflow: auto;
    }

    /deep/ .el-card__header {
        padding-bottom: 0;
    }

    /deep/ .el-card__body {
        padding: 0;
    }

    /deep/ .el-icon-copy-document {
        font-size: 30px;
        color: $--color-text-secondary;
        cursor: pointer;
    }

    .dropdown-hidden-widgets {
        margin-top: 15px;
        display: inline-block;
        float: right;
    }

    .widget-title {
        font-size: 12px;
        font-weight: normal;
        color: $--color-text-regular;
        cursor: pointer;
    }

    .widget-header {
        display: flex;
        justify-content: space-between;
    }

    .widget-settings {
        display: inline-block;
    }

    #staticWidgets {
        .box-card {
            margin: 0 0 0 10px
        }

        .widget-col {
            margin-bottom: .8rem;
        }
    }

    @media screen and (max-width: $--lg - 1) {
        #staticWidgets {
            .box-card {
                margin: 10px 0 0 10px
            }
        }
    }::v-deep .card-base {
    border: $--input-border;
    font-size: $--input-font-size;
    height: $--input-height;
    border-radius: $--input-border-radius;
    box-sizing: border-box;
    padding: 0 15px;
}
</style>
