<template>
    <div>
        <section id="contact-import-module-csv">
            <h2 class="page-title">
                Contacts import csv
            </h2>
            <!-- top menu -->
            <el-col :span="24" class="m-t-10" style="padding-bottom: 0;">
                <table id="top-table-import-csv">
                    <tr>
                        <td>Sending email notifications</td>
                        <td>Select a file</td>
                        <td>Create users</td>
                    </tr>
                    <tr>
                        <td>
                            <el-switch
                                v-model="tableSettings.switch_active"
                                active-color="#13ce66"
                                active-text="On"
                                inactive-color="#ff4949"
                                inactive-text="Off">
                            </el-switch>
                        </td>
                        <td>
                            <el-upload
                                ref="upload_file"
                                :auto-upload="false"
                                :file-list="tableSettings.fileList"
                                :on-change="onUploadChange"
                                :on-success="viewName"
                                accept="application/vnd.ms-excel','text/plain','text/csv','text/tsv"
                                action=""
                                class="upload-demo">
                                <div class="el-upload__tip">
                                    File extension only CSV and file size not exceeding 5 Mb
                                </div>
                                <el-button
                                    slot="trigger"
                                    size="small"
                                    type="primary">
                                    Select file
                                </el-button>
                            </el-upload>
                        </td>
                        <td>
                            <el-button
                                size="small"
                                type="success"
                                :disabled="tableSettings.disabled"
                                @click="submitUpload">
                                upload to server
                            </el-button>
                        </td>
                    </tr>
                </table>
            </el-col>
        </section>
    </div>
</template>
<script>
    import axios from 'axios';
    export default {
        data() {
            return {
                tableSettings: {
                    file: {},
                    switch_active: false,
                    fileList: [],
                    disabled: true,
                },
            };
        },
        methods: {
            submitUpload() {
                let formData = new FormData();
                formData.append('file', this.tableSettings.file);
                axios.post('/api/users/upload-contact-csv', formData)
                    .then((res) => {
                        console.log(res);
                    })
                    .catch(() => {
                        console.log('FAILURE!!');
                    });
            },
            viewName(res, file) {
                this.cleareListFile();
                if (file !== undefined) {
                    this.tableSettings.fileList = [{
                        name: file.raw.name, url: URL.createObjectURL(file.raw),
                    }];
                }
            },
            onUploadChange(file) {
                const mimes = ['application/vnd.ms-excel', 'text/csv', 'text/tsv'];
                const isCSV = mimes.indexOf(file?.raw?.type);
                const isLt5M = file?.size / 1024 / 1024 < 5;

                if (isCSV === -1) {
                    this.$message.error('File must be CSV format!');
                    this.cleareListFile();
                    this.tableSettings.disabled = true;
                } else if (!isLt5M) {
                    this.$message.error('File size can not exceed 5MB!');
                    this.cleareListFile();
                    this.tableSettings.disabled = true;
                } else {
                    this.tableSettings.file = file?.raw;
                    this.tableSettings.disabled = false;
                }
            },
            cleareListFile() {
                this.tableSettings.fileList = [];
                this.$refs.upload_file.clearFiles();
            },
        },
    };
</script>
<style lang="scss" scoped>
    #top-table-import-csv {
        width: 100%;

        tr:nth-child(1) td {
            padding-bottom: 15px;
            font-weight: bold;
        }

        tr:nth-child(2) td ul {
            min-height: 30px;
        }
    }
</style>
