<template>
    <section id="users">
        <h2 class="page-title">
            Users
        </h2>
        <!-- filters -->
        <el-col :span="24" class="m-t-10" style="padding-bottom: 0;">
            <el-form :inline="true" :model="filters" size="mini" @submit.native.prevent="fetchUsers">
                <el-form-item>
                    <el-button type="primary" icon="plus" @click="handleAdd">
                        Add
                    </el-button>
                </el-form-item>
                <el-form-item class="search-input">
                    <el-input v-model="filters.search" placeholder="Search..." @input="applySearch">
                        <i
                            v-if="filters.search.length"
                            slot="suffix"
                            class="el-input__icon el-icon-error"
                            @click="clearSearch"></i>
                    </el-input>
                </el-form-item>
            </el-form>
        </el-col>

        <!-- table -->
        <el-table
            v-loading="listLoading"
            :data="users"
            highlight-current-row
            style="width: 100%;"
            @sort-change="handleSortChange"
            @filter-change="handleFilterChange">
            <el-table-column prop="name" label="Full Name" min-width="230" sortable="false">
                <template slot-scope="scope">
                    <img v-if="scope.row.avatar" :src="scope.row.avatar" class="pull-left m-r-5 user-avatar-image">
                    <i v-else class="m-r-5 el-icon-picture-outline pull-left no-user-avatar-icon"></i>
                    <span style="line-height: 40px;">{{ scope.row.name }}</span>
                </template>
            </el-table-column>
            <el-table-column prop="email" label="Email" min-width="230" sortable="false"></el-table-column>
            <el-table-column prop="phone" label="Phone" width="150" sortable="false"></el-table-column>
            <el-table-column prop="suspended" label="Status" width="105" sortable="false">
                <template slot-scope="scope">
                    <span :class="{suspended: !!scope.row.suspended}">
                        {{ scope.row.suspended ? 'Suspended' : 'Active' }}
                    </span>
                </template>
            </el-table-column>
            <el-table-column label="Actions" width="180">
                <template slot-scope="scope">
                    <el-button size="mini" icon="el-icon-edit" @click="handleEdit(scope.row)"></el-button>
                    <el-tooltip
                        :disabled="!$auth.check('users.login-as') || scope.row.userAccessLevel <= $auth.user().userAccessLevel || scope.row.id === $auth.user().id"
                        content="Login"
                        placement="top"
                        :open-delay="300">
                        <el-button
                            :disabled="!$auth.check('users.login-as') || scope.row.userAccessLevel <= $auth.user().userAccessLevel || scope.row.id === $auth.user().id"
                            type="warning"
                            size="mini"
                            icon="el-icon-fa-sign-in-alt"
                            @click="handleLogin(scope.row)">
                        </el-button>
                    </el-tooltip>
                    <el-tooltip
                        :disabled="!($auth.check('users.delete') && scope.row.id != $auth.user().id && scope.row.userAccessLevel <= $auth.user().userAccessLevel)"
                        :open-delay="300"
                        placement="top"
                        content="Delete">
                        <span>
                            <el-button
                                type="danger"
                                size="mini"
                                :disabled="!($auth.check('users.delete') && scope.row.id != $auth.user().id && scope.row.userAccessLevel <= $auth.user().userAccessLevel)"
                                icon="el-icon-delete"
                                @click="handleDelete(scope.row)">
                            </el-button>
                        </span>
                    </el-tooltip>
                </template>
            </el-table-column>
        </el-table>

        <!-- pagination -->
        <el-col :span="24" class="el-pagination">
            <el-pagination
                layout="sizes, prev, pager, next"
                :page-size="pageSize"
                :total="total"
                style="float:right;"
                @size-change="handleSizeChange"
                @current-change="handleCurrentChange">
            </el-pagination>
        </el-col>

        <!-- form dialog -->
        <el-dialog
            :title="formTitle"
            :visible.sync="formVisible"
            :close-on-click-modal="false"
            :append-to-body="true"
            class="users-dialog">
            <el-form
                ref="form"
                :model="form"
                label-width="140px"
                :rules="rules"
                size="small"
                @submit.native.prevent="saveSubmit">
                <div class="form-row">
                    <div class="form-row-input-group">
                        <el-form-item label="Name" prop="name" :error="errors.get('name')">
                            <el-input
                                v-model="form.name"
                                placeholder="Full name"
                                suffix-icon="el-icon-edit"
                                @change="errors.clear('name')">
                            </el-input>
                        </el-form-item>
                        <el-form-item
                            :label="form.id ? 'New Password' : 'Password'"
                            prop="password"
                            :error="errors.get('password')"
                            :required="!form.id">
                            <el-row style="margin-bottom: 18px;">
                                <el-input
                                    v-model="form.password"
                                    autocomplete="new-password"
                                    type="password"
                                    suffix-icon="el-icon-fa-key"
                                    placeholder="Enter password"
                                    @change="errors.clear('password')">
                                </el-input>
                            </el-row>
                            <el-row>
                                <el-input
                                    v-model="form.password_confirmation"
                                    type="password"
                                    suffix-icon="el-icon-fa-key"
                                    placeholder="Confirm password">
                                </el-input>
                            </el-row>
                        </el-form-item>
                    </div>

                    <div class="el-form-item el-form-item--small crop-wrap">
                        <div class="logo-uploader-wrap">
                            <div class="logo-uploader-img-wrap">
                                <div
                                    v-if="!cropImgDataUrl.length && !form.avatar"
                                    class="icon icon_unknown-user"
                                    @click="cropToggleShow"></div>
                                <img v-else :src="form.avatar" @click="cropToggleShow">
                            </div>
                            <my-upload
                                ref="image"
                                :headers="cropHeaders"
                                :height="300"
                                :url="cropUploadUrl"
                                :value.sync="cropShow"
                                :width="300"
                                field="img"
                                img-format="png"
                                lang-type="en"
                                method="POST"
                                @input="cropMyUploadOnInput"
                                @crop-success="cropSuccess"
                                @crop-upload-success="cropUploadSuccess"
                                @crop-upload-fail="cropUploadFail"
                                @src-file-set="cropOnSrcFileSet">
                            </my-upload>
                            <div
                                v-if="form.avatar"
                                class="logo-uploader-delete"
                                @click="cropDeleteImage">
                                <i class="el-icon-delete"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <el-form-item label="Email" prop="email" :error="errors.get('email')">
                    <el-input
                        v-model="form.email"
                        suffix-icon="el-icon-fa-envelope-o"
                        placeholder="Valid email address"
                        @change="errors.clear('email')">
                    </el-input>
                </el-form-item>
                <el-form-item label="Phone" prop="phone" :error="errors.get('phone')">
                    <el-input
                        v-model="form.phone"
                        type="phone"
                        placeholder="Mobile phone number"
                        auto-complete="on"
                        suffix-icon="el-icon-fa-phone"
                        @change="errors.clear('phone')"
                        @input="handlePhoneInput"></el-input>
                </el-form-item>
                <el-form-item label="User role" prop="role" :error="errors.get('role')">
                    <el-select
                        v-model="form.role"
                        placeholder="- Choose User Role -"
                        :disabled="form.id && !$auth.check('roles.update')"
                        style="width: 100%;"
                        @change="errors.clear('role')">
                        <el-option
                            v-for="role in roles"
                            :key="role.id"
                            :label="role.display_name"
                            :value="role.id">
                        </el-option>
                    </el-select>
                </el-form-item>
                <el-form-item
                    label="Suspend Account"
                    class="clear-none w-140"
                    prop="suspended"
                    :error="errors.get('suspended')">
                    <el-switch
                        v-model="form.suspended"
                        :active-value="1"
                        :inactive-value="0">
                    </el-switch>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click.native="formVisible = false">
                    Cancel
                </el-button>
                <el-button type="primary" :loading="formLoading" @click.native="saveSubmit">
                    Save
                </el-button>
            </div>
        </el-dialog>
    </section>
</template>

<style lang="scss" scoped>
    @import "../../../../sass/element-ui-colors";
    @import "../../../../sass/element-ui-variables";
    @import "~@/crop-uploader";

    .form-row {
        display: flex;
        .form-row-input-group {
            flex-grow: 1;
        }
    }
    /deep/ .el-upload--text{
        width: 100%;
    }

    #users {
        .user-avatar-image {
            width: 40px;
            height: 40px;
            object-fit: cover;
            border-radius: 20px;
        }

        .no-user-avatar-icon {
            width: 40px;
            line-height: 40px;
            font-size: 25px;
            color: $--color-text-placeholder;
            text-align: center;
        }

        .search-input {
            float: right;
        }

        .suspended {
            color: $--color-danger;
        }
    }

    .users-dialog {
        .el-dialog__body {
            padding-top: 10px;
        }

        .user-avatar-container {
            display: flex;
            .user-avatar-placeholder {
                width: 100%;
                cursor: pointer;
                border-style: dashed;
                border-width: 1px;
                border-color: $--border-color-base;
                border-radius: $--border-radius-base;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: 0.3s;
                div.el-upload {
                    width: 100%;
                    .el-icon-plus {
                        width: 100%;
                        transition: 0.3s;
                        font-size: 30px;
                        line-height: 130px;
                        color: $--border-color-base;
                    }
                    .user-avatar-preview {
                        position: relative;
                        display: flex;
                        padding: 5px;
                        img {
                            width: 100%;
                            height: 120px;
                            object-fit: cover;
                            border-radius: $--border-radius-base;
                        }
                        .el-button--danger {
                            position: absolute;
                            right: 10px;
                            bottom: 10px;
                        }
                        &:before {
                            transition: 0.3s;
                            opacity: 0;
                            pointer-events: none;
                            content: ' ';
                            background-color: black;
                            position: absolute;
                            top: 0;
                            bottom: 0;
                            left: 0;
                            width: 100%;
                            border-radius: $--border-radius-base;
                        }
                        &:hover:before {
                            opacity: 0.4;
                        }
                    }
                }
                &:hover {
                    border-color: $--color-primary;
                    .el-icon-plus {
                        color: $--color-primary;
                    }
                }
            }
        }

        .el-date-editor.el-input {
            width: calc(50% - 15px);
            float: left;

            input {
                padding-right: 0;
            }
        }

        .w-140 {
            .el-form-item__label {
                width: 140px !important;
                @media screen and (max-width: $--xs - 1) {
                    text-align: left !important;
                }
            }
        }
    }
</style>

<!--suppress JSUnfilteredForInLoop -->
<script>
    import {methods} from '~/includes/_common_/util';
    import Errors from '../../../includes/_common_/Errors';
    import app_data from '../../../includes/app_data';
    import cropUpload from '~/mixins/vueImageCropUpload';
    import myUpload from 'vue-image-crop-upload/upload-2';
    import axios from 'axios';

    import {addUser, editUser, getRoleList, getTagAutocomplete, getUser, getUserList, removeUser} from '~/includes/Admin/endpoints';

    const CancelToken = axios.CancelToken;

    export default {
        components: {
            myUpload,
        },
        mixins: [cropUpload],
        data() {
            return {
                appEnable: Laravel.appEnable,
                sortBy: 'id,asc',
                filters: {
                    search: '',
                },
                users: [],
                roles: [],
                tags: [],
                errors: new Errors(),
                total: 0,
                page: 1,
                pageSize: 10,
                listLoading: true,
                listSource: CancelToken.source(),
                formVisible: false,
                formLoading: false,
                formTitle: 'New User',
                tagsLoading: false,
                form: {
                    tagList: [],
                    suspended: 0,
                },
                rules: {
                    name: [{required: true}],
                    email: [{required: true}, {type: 'email', message: 'please use a valid email address'}],
                    role: [{required: true}],
                    phone: [{required: true}, {validator: this.validatePhoneNumber}],
                },
                countries: app_data.countryList,
                importFormVisible: false,
                importFormLoading: false,
                exportLoading: false,

            };
        },
        computed: {
            isCustomer: function() {
                let role = _.find(this.roles, {name: 'customer'});

                return role ? (role.id === this.form.role) : false;
            },
        },
        mounted() {
            this.fetchRoles();
            this.fetchUsers();
            this.listenSearchEvent(getUser, 'Users');
        },
        methods: {
            ...methods,
            handleLogin(row) {
                this.$confirm('Are you sure you want to login as "' + row.name + '"?', 'Warning', {
                    type: 'warning',
                }).then(() => {
                    this.$auth.impersonate({
                        data: {user_id: row.id},
                        redirect: {name: 'Dashboard', params: {
                            checkSubscriptionTrial: false,
                        }},
                        error(error) {
                            if (error.response && error.response.data) {
                                let data = error.response.data;
                                if (data.errors) {
                                    this.errors.record(data.errors);
                                } else if (data.error) {
                                    this.$message({
                                        type: 'error',
                                        dangerouslyUseHTMLString: true,
                                        message: data.error,
                                    });
                                } else {
                                    location.reload();
                                }
                            }
                        },
                    }).then((response) => {
                        Vue.$emit('systemMessage.updated');
                        if (response.data.system_messages && row.notification_status) {
                            this.fetchSystemMessages();
                        }
                    });
                }).catch(() => {
                });
            },
            cropOnSrcFileSet() {
                const textError = 'Image size is too small. Please use an image with dimensions of 300px x 300px';
                this.$refs.image.$el.getElementsByClassName('vicp-error')[0].innerText = textError;
            },
            removeCroppedImage() {
                deleteUserAvatar({imagePath: this.form.avatar, id: this.form.id}).then(res => {
                    if (!!res.data) {
                        this.$set(this.form, 'avatar', '');
                        this.$set(this.form, 'logo', '');
                        this.$set(this.formOriginal, 'avatar', '');
                        this.$set(this.formOriginal, 'logo', '');
                    }
                });
            },
            handleSortChange(val) {
                if (val.prop != null) {
                    let sort = val.order.startsWith('a') ? 'asc' : 'desc';
                    this.sortBy = `${val.prop},${sort}`;
                    this.fetchUsers();
                }
            },
            handleFilterChange() {
                this.fetchUsers();
            },
            handleCurrentChange(val) {
                this.page = val;
                this.fetchUsers();
            },
            handleSizeChange(val) {
                this.pageSize = val;
                this.fetchUsers();
            },
            fetchUsers() {
                if (this.listSource) {
                    this.listSource.cancel('Fetch another users list');
                }
                this.listSource = CancelToken.source();
                let params = {
                    page: this.page,
                    search: this.filters.search,
                    sortBy: this.sortBy,
                    pageSize: this.pageSize,
                };
                this.listLoading = true;
                getUserList(
                    params,
                    {
                        cancelToken: this.listSource.token,
                    },
                ).then((res) => {
                    this.total = res.data.total;
                    this.users = res.data.data;
                    this.listLoading = false;
                    this.listSource = false;
                });
            },
            fetchRoles() {
                getRoleList({}).then((res) => {
                    this.roles = res.data.data.data;
                });
            },
            fetchTags(query) {
                if (query !== '') {
                    this.tagsLoading = true;
                    getTagAutocomplete({search: query}).then((res) => {
                        this.tags = res.data;
                        this.tagsLoading = false;
                    });
                } else {
                    this.tags = [];
                }
            },
            countrySearch(query, cb) {
                query = query ? query.toLowerCase() : '';
                let countries = this.countries;
                let results = query ? countries.filter((country) =>
                    country.name.toLowerCase().includes(query),
                ) : countries;
                // call callback function to return suggestions
                cb(results);
            },
            handleDelete(row) {
                this.$confirm('This will permanently delete the user. Continue?', 'Warning', {
                    type: 'warning',
                }).then(() => {
                    this.listLoading = true;
                    removeUser(row.id).then((response) => {
                        this.listLoading = false;
                        this.$message.success(response.data.message);
                        this.fetchUsers();
                    }).catch((error) => {
                        this.listLoading = false;
                        if (error.response.data.message) {
                            this.$message.error(error.response.data.message);
                        } else {
                            this.$message.error('Unknown server error');
                        }
                    });
                });
            },
            handleEdit(row) {
                this.formTitle = 'Edit User';
                this.form = Object.assign({}, row);
                this.errors = new Errors();
                this.formVisible = true;
                if (this.$refs['form']) {
                    this.$refs['form'].resetFields();
                }
            },
            handleAdd() {
                this.formTitle = 'New User';
                this.form = {
                    tagList: [],
                    suspended: 0,
                };
                this.errors = new Errors();
                this.formVisible = true;
                if (this.$refs['form']) {
                    this.$refs['form'].resetFields();
                }
            },
            handleTagsChange(newTags) {
                this.errors.clear('tagList');
                this.form.tagList = newTags;
            },
            handleAddressChange(data) {
                this.errors.clear('address');
                if (!data.newVal) {
                    this.$set(this.form, 'country', '');
                    this.$set(this.form, 'city', '');
                    this.$set(this.form, 'postcode', '');
                    this.$set(this.form, 'address', '');
                }
                this.$nextTick(() => {
                    this.$refs['form'].validateField('address', () => {
                    });
                });
            },
            getAddressData(addressData, placeResultData, id) {
                this.$set(this.form, 'country', addressData.country);
                this.$set(this.form, 'city', addressData.locality);
                this.$set(this.form, 'postcode', addressData.postal_code);
                this.$set(this.form, 'address', document.getElementById(id).value);
            },
            handlePhoneInput() {
                this.$nextTick(() => {
                    this.$set(this.form, 'phone', this.formatPhoneNumber(this.form.phone, false));
                });

            },
            saveSubmit() {
                this.$refs['form'].validate((valid) => {
                    if (valid) {
                        this.formLoading = true;
                        this.errors.clear(undefined);
                        let action = this.form.id ? editUser : addUser;

                        action(this.prepareUserData()).then((response) => {
                            this.formLoading = false;
                            this.$message.success(response.data.message);
                            this.formVisible = false;
                            this.fetchUsers();
                            if (this.form.id === this.$auth.user().id) {
                                this.$auth.fetch();
                            }
                        }).catch((error) => {
                            if (Laravel.appDebug) {
                                console.log(error);
                            }
                            if (error.response.data.errors) {
                                this.errors.record(error.response.data.errors);

                            } else if (error.response.data.message) {
                                this.$message.error(error.response.data.message);
                            } else {
                                this.$message.error('Unknown server error');
                            }
                            this.formLoading = false;
                        });
                    }
                });
            },
            prepareUserData() {
                let formData = new FormData();
                for (let field in this.form) {
                    formData.append(field, this.form[field]);
                }
                for (let tag in this.form.tagList) {
                    formData.append('tags[]', this.form.tagList[tag]);
                }
                formData.set('_method', this.form.id ? 'PUT' : 'POST');
                if (this.form.file) {
                    formData.set('file', this.form.file);
                }

                return formData;
            },
            applySearch: _.debounce(function() {
                this.fetchUsers();
            }, 300),
            clearSearch() {
                this.filters.search = '';
                this.fetchUsers();
            },
            beforeAvatarUpload(file) {
                if (file.size / 1024 / 1024 > 2) {
                    this.$message.error('Picture size can not exceed 2MB!');

                    return false;
                }
                this.form.avatar = URL.createObjectURL(file.raw);
                this.form.file = file.raw;

                return true;
            },
            clearCompanyAvatar() {
                this.form.avatar = '';
                this.form.file = '';
            },
            submitUpload() {
                this.$refs.upload.submit();
            },
            toggleImportForm() {
                if (this.$refs.upload) {
                    this.$refs.upload.clearFiles();
                }
                this.importFormVisible = !this.importFormVisible;
            },

        },
    };
</script>
