<template>
    <section id="contacts">
        <h2 class="page-title">
            Companies
        </h2>

        <!-- search bar -->
        <el-col :span="24" class="m-t-10" style="padding-bottom: 0;">
            <el-form :inline="true" :model="listFilters" size="mini" @submit.native.prevent="fetchCompanies">
                <el-form-item>
                    <el-button type="primary" icon="el-icon-plus" @click="handleAdd">
                        Add
                    </el-button>
                </el-form-item>
                <el-form-item class="search-input">
                    <el-input v-model="listFilters.term" placeholder="Search..." @input="applySearch">
                        <i
                            v-if="listFilters.term.length"
                            slot="suffix"
                            class="el-input__icon el-icon-error"
                            @click="clearSearch"></i>
                    </el-input>
                </el-form-item>
            </el-form>
        </el-col>

        <!-- table -->
        <el-table
            v-loading="loading.list"
            :data="companies"
            highlight-current-row>
            <el-table-column prop="business_name" label="Business name"></el-table-column>
            <el-table-column label="Actions" width="130">
                <template slot-scope="scope">
                    <el-button size="mini" icon="el-icon-edit" @click="handleEdit(scope.row)"></el-button>
                    <el-button
                        type="danger"
                        size="mini"
                        icon="el-icon-delete"
                        @click="handleDelete(scope.row)">
                    </el-button>
                </template>
            </el-table-column>
        </el-table>

        <!-- pagination -->
        <el-col :span="24" class="el-pagination">
            <el-pagination
                layout="sizes, prev, pager, next"
                :page-size="listFilters.pagination.pageSize"
                :total="total"
                style="float:right;"
                @size-change="handleSizeChange"
                @current-change="handleCurrentChange">
            </el-pagination>
        </el-col>

        <!-- create companies dialog -->
        <el-dialog
            :title="form.title"
            :visible.sync="visible.dialog"
            :close-on-click-modal="false"
            :close-on-press-escape="false"
            :show-close="!loading.dialog"
            :append-to-body="true"
            class="companies-dialog">
            <el-form
                ref="dialogForm"
                :model="form.data"
                label-width="auto"
                :rules="form.rules"
                @submit.native.prevent="saveSubmit">
                <el-form-item label="Business name" prop="business_name" :error="errors.form.get('business_name')">
                    <el-input
                        v-model="form.data.business_name"
                        @change="errors.form.clear('business_name')"></el-input>
                </el-form-item>
                <el-form-item label="URL" prop="url" :error="errors.form.get('url')">
                    <el-input
                        v-model="form.data.url"
                        placeholder="http://"
                        @change="errors.form.clear('url')"></el-input>
                </el-form-item>
                <el-form-item label="Contact name" prop="contact_name" :error="errors.form.get('contact_name')">
                    <el-input
                        v-model="form.data.contact_name"
                        @change="errors.form.clear('contact_name')"></el-input>
                </el-form-item>
                <el-form-item label="Email" prop="email" :error="errors.form.get('email')">
                    <el-input
                        v-model="form.data.email"
                        placeholder="Email"
                        @change="errors.form.clear('email')"></el-input>
                </el-form-item>
                <el-row :gutter="10">
                    <el-col :span="13">
                        <el-form-item label="Phone" prop="mobile_phone_number" :error="errors.form.get('mobile_phone_number')">
                            <el-input
                                v-model="form.data.mobile_phone_number"
                                type="phone"
                                placeholder="Mobile phone number"
                                auto-complete="on"
                                @change="errors.form.clear('mobile_phone_number')"
                                @input="handlePhoneInput"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="11">
                        <el-form-item label-width="0px" prop="phone_number" :error="errors.form.get('phone_number')">
                            <el-input
                                v-model="form.data.phone_number"
                                type="phone"
                                placeholder="Phone number"
                                auto-complete="on"
                                @change="errors.form.clear('phone_number')"
                                @input="handlePhoneInput"></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row :gutter="10">
                    <el-col :span="24">
                        <el-form-item label="Address" prop="address" :error="errors.form.get('address')">
                            <div class="el-input el-input--suffix">
                                <GmapAutocomplete
                                    id="company-address"
                                    :options="autocompleteOptions"
                                    :value="form.data.address"
                                    class="el-input__inner"
                                    @change="changeAddress"
                                    @place_changed="handleAddressChange">
                                </GmapAutocomplete>
                                <i class="el-input__suffix el-input__icon el-icon-location-outline"></i>
                            </div>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-form-item label="Company type" prop="company_type" :error="errors.form.get('company_type')">
                    <el-select
                        v-model="form.data.company_type"
                        clearable
                        placeholder="Select a type"
                        style="width: 100%;"
                        @change="handleChangeCompanyType">
                        <el-option
                            v-for="(company, type) in companyTypes"
                            :key="type"
                            :label="company"
                            :value="type">
                        </el-option>
                    </el-select>
                </el-form-item>
                <!-- Company administrator -->
                <template v-if="form.data.company_type !== typePlanManager">
                    <el-form-item :error="errors.form.get('admin_id')" label="Company administrator" prop="contacts">
                        <el-select
                            v-model="form.data.admin_id"
                            v-loading="loading.contactList"
                            clearable
                            placeholder="Select a contact"
                            style="width: 100%;">
                            <el-option
                                v-for="contact in contactsServiceProvider"
                                :key="contact.id"
                                :label="contact.full_name"
                                :value="contact.id">
                            </el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item v-if="form.data.company_type !== typeSoleTrader" label="Contacts" prop="contacts" :error="errors.form.get('contacts')">
                        <el-select
                            v-model="form.data.contacts"
                            v-loading="loading.contactList"
                            clearable
                            multiple
                            collapse-tags
                            placeholder="Select a related contacts"
                            style="width: 100%;">
                            <el-option
                                v-for="contact in contacts"
                                :key="contact.id"
                                :label="contact.full_name"
                                :value="contact.id">
                            </el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="Service types" prop="service_types" :error="errors.form.get('service_types')">
                        <el-select
                            v-model="form.data.service_types"
                            v-loading="loading.serviceTypeList"
                            clearable
                            multiple
                            placeholder="Select a service types"
                            style="width: 100%;">
                            <el-option
                                v-for="serviceType in serviceTypes"
                                :key="serviceType.id"
                                :label="serviceType.service_name"
                                :value="serviceType.id">
                            </el-option>
                        </el-select>
                    </el-form-item>
                </template>
                <el-form-item label="Visit types" prop="visit_types" :error="errors.form.get('visit_types')">
                    <el-select
                        v-model="form.data.visit_types"
                        clearable
                        multiple
                        placeholder="Select visit types"
                        style="width: 100%;">
                        <el-option
                            v-for="(visitType, index) in visitTypes"
                            :key="index"
                            :label="visitType"
                            :value="index">
                        </el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="Service Coverage" prop="coverage" :error="errors.form.get('coverage')">
                    <el-select
                        v-model="form.data.coverage"
                        clearable
                        placeholder="Select a service coverage"
                        style="width: 100%;"
                        @change="handleChangeCoverageType">
                        <el-option
                            v-for="(coverage, index) in coverages"
                            :key="index"
                            :label="coverage"
                            :value="index">
                        </el-option>
                    </el-select>
                </el-form-item>
                <el-form-item v-if="form.data.coverage === coverageState" label="State" prop="coverage_state" :error="errors.form.get('coverage_state')">
                    <el-select
                        v-model="form.data.coverage_state"
                        clearable
                        placeholder="Select a state"
                        style="width: 100%;">
                        <el-option
                            v-for="(state,code) in states"
                            :key="code"
                            :label="state"
                            :value="code">
                        </el-option>
                    </el-select>
                </el-form-item>
                <el-form-item v-if="form.data.coverage === coverageLimited" label="Coverage Radius" prop="coverage_radius" :error="errors.form.get('coverage')">
                    <el-slider
                        v-model="form.data.coverage_radius"
                        class="coverage-radius-slider"
                        :step="10"
                        :min="10"
                        :max="300"
                        :marks="{ 10: '10KM', 300: '300KM' }"
                        :format-tooltip="formatSliderTooltip">
                    </el-slider>
                </el-form-item>
            </el-form>

            <div slot="footer" class="dialog-footer">
                <el-button :disabled="loading.dialog" @click.native="visible.dialog = false">
                    Cancel
                </el-button>
                <el-button type="primary" :loading="loading.dialog" @click.native="saveSubmit">
                    {{ form.data.id ? 'Update' : 'Save' }}
                </el-button>
            </div>
        </el-dialog>
    </section>
</template>

<script>
    import {
        destroyCompany,
        getCompanyList,
        getContactListForCompanies,
        getContactListServiceProvider,
        getServiceTypeListForCompanies,
        storeCompany,
        updateCompany,
    } from '~/includes/endpoints';
    import Errors from '~/includes/_common_/Errors';
    import {methods} from '~/includes/_common_/util';
    import common from '~/mixins/common';

    const CancelToken = Axios.CancelToken;

    const formData = {
        contacts: [],
        service_types: [],
        admin_id: null,
        business_name: '',
        url: '',
        mobile_phone_number: '',
        phone_number: '',
        email: '',
        contact_name: '',
        company_type: null,
        unit_suit_number: '',
        street_number: '',
        street_name: '',
        street_type: '',
        state: '',
        postcode: '',
        country: '',
        visit_types: [],
        coverage: '',
        coverage_radius: null,
        coverage_state: '',
    };

    export default {
        name: 'Companies',
        mixins: [common],
        data: () => ({
            companies: [],
            contacts: [],
            contactsServiceProvider: [],
            serviceTypes: [],
            stateList: [],
            listFilters: {
                term: '',
                pagination: {
                    pageSize: 10,
                    page: 1,
                },
            },
            total: 0,

            loading: {
                list: true,
                dialog: false,
                contactList: true,
                serviceTypeList: true,
            },

            visible: {
                dialog: false,
            },

            errors: {
                form: new Errors(),
            },

            cancelTokens: {
                list: CancelToken.source(),
            },

            form: {
                title: 'New Company',
                data: {...formData},
                rules: {
                    business_name: [
                        {required: true, message: 'Business name is required'},
                    ],
                    mobile_phone_number: [
                        {required: true, message: 'Mobile phone number is required'},
                    ],
                    email: [
                        {required: true, message: 'Email is required'},
                        {type: 'email', message: 'Please, use a valid email address'},
                    ],
                    contact_name: [
                        {required: true, message: 'Contact name is required'},
                    ],
                    company_type: [
                        {required: true, message: 'Company type is required'},
                    ],
                    coverage: [
                        {required: true, message: 'Coverage type is required'},
                    ],
                    coverage_state: [
                        {required: true, message: 'State is required'},
                    ],
                    coverage_radius: [
                        {required: true, message: 'Radius is required'},
                    ],
                },
            },

            companyTypes: window.Laravel.Company.COMPANY_TYPES,
            visitTypes: window.Laravel.Company.VISIT_TYPES,
            coverages: window.Laravel.Company.COVERAGES,
            typePlanManager: window.Laravel.Company.COMPANY_PLAN_MANAGER,
            typeSoleTrader: window.Laravel.Company.COMPANY_TYPE_SOLE_TRADER,
            coverageLimited: window.Laravel.Company.COVERAGE_LIMITED,
            coverageState: window.Laravel.Company.COVERAGE_STATE,

            states: window.Laravel.lists.States,
        }),
        computed: {
            _: _,
        },
        mounted() {
            this.fetchCompanies();
            this.fetchContacts();
            this.fetchContactsServiceProvider();
            this.fetchServiceTypes();
        },
        methods: {
            ...methods,
            fetchCompanies() {
                this.loading.list = true;

                if (this.cancelTokens.list) {
                    this.cancelTokens.list.cancel('Another companies list fetched');
                }

                this.cancelTokens.list = CancelToken.source();

                getCompanyList(this.listFilters, {cancelToken: this.cancelTokens.list.token}).then(response => {
                    this.companies = response.data.data;
                    this.total = response.data.total;
                }).catch(error => {
                    this.$errors.handle(error);
                }).finally(() => {
                    this.loading.list = false;
                });
            },
            fetchContacts() {
                this.loading.contactList = true;

                getContactListForCompanies().then(response => {
                    this.contacts = response.data.data;
                }).catch(error => {
                    this.$errors.handle(error);
                }).finally(() => {
                    this.loading.contactList = false;
                });
            },
            fetchContactsServiceProvider() {
                this.loading.contactList = true;

                getContactListServiceProvider().then(response => {
                    this.contactsServiceProvider = response.data.data;
                }).catch(error => {
                    this.$errors.handle(error);
                }).finally(() => {
                    this.loading.contactList = false;
                });
            },
            fetchServiceTypes() {
                this.loading.serviceTypeList = true;

                getServiceTypeListForCompanies().then(response => {
                    this.serviceTypes = response.data.data;
                }).catch(error => {
                    this.$errors.handle(error);
                }).finally(() => {
                    this.loading.serviceTypeList = false;
                });
            },
            handleCurrentChange(value) {
                this.listFilters.pagination.page = value;
                this.fetchCompanies();
            },
            handleSizeChange(value) {
                this.listFilters.pagination.pageSize = value;
                this.fetchCompanies();
            },
            applySearch: _.debounce(function() {
                this.fetchCompanies();
            }, 300),
            clearSearch() {
                this.listFilters.term = '';
                this.fetchCompanies();
            },

            handleDelete(row) {
                this.$confirm('This will permanently delete the company. Continue?', 'Warning', {
                    type: 'warning',
                }).then(() => {
                    this.loading.list = true;

                    destroyCompany(row.id).then(() => {
                        this.$message.success('Company deleted');
                    }).catch((error) => {
                        this.$errors.handle(error);
                    }).finally(() => {
                        this.loading.list = false;
                        this.fetchCompanies();
                    });
                });
            },
            handleEdit(row) {
                this.form.title = 'Edit Company';
                this.form.data = Object.assign({}, row);
                this.form.data.contacts = _.map(row.contacts, (contact) => contact.id);
                this.form.data.service_types = _.map(row.service_types, (serviceType) => serviceType.id);
                this.form.data.visit_types = _.map(row.visit_types, (visitType) => visitType.visit_type);
                this.errors.form = new Errors();
                this.visible.dialog = true;
                if (this.$refs.dialogForm) {
                    this.$refs.dialogForm.resetFields();
                }
            },
            handleAdd() {
                this.form.title = 'New Company';
                this.form.data = {...formData};
                this.errors.form = new Errors();
                this.visible.dialog = true;
                if (this.$refs.dialogForm) {
                    this.$refs.dialogForm.resetFields();
                }
            },
            handlePhoneInput() {
                this.$nextTick(() => {
                    this.$set(this.form.data, 'mobile_phone_number', this.formatPhoneNumber(this.form.data.mobile_phone_number));
                    this.$set(this.form.data, 'phone_number', this.formatPhoneNumber(this.form.data.phone_number));
                });
            },
            saveSubmit() {
                this.$refs.dialogForm.validate((valid) => {
                    if (!valid) {
                        return 0;
                    }

                    this.loading.dialog = true;
                    this.errors.form.clear(undefined);
                    let action = this.form.data.id ? updateCompany : storeCompany;

                    action(this.form.data).then(() => {
                        this.$message.success(this.form.data.id ? 'Company updated' : 'Company created');
                        this.visible.dialog = false;
                        this.fetchCompanies();
                    }).catch(async error => {
                        await this.$errors.handle(error);
                        this.errors.form.record(this.$errors.all());
                    }).finally(() => {
                        this.loading.dialog = false;
                    });
                });
            },
            handleChangeCompanyType(value) {
                if (value === this.typeSoleTrader) {
                    this.form.data.contacts = [];
                } else if (value === this.typePlanManager) {
                    this.form.data.service_types = [];
                    this.form.data.admin_id = null;
                    this.form.data.contacts = [];
                }
            },
            handleChangeCoverageType(value) {
                if (value === this.coverageLimited) {
                    this.form.data.coverage_state = null;
                } else if (value === this.coverageState) {
                    this.form.data.coverage_radius = null;
                } else {
                    this.form.data.coverage_radius = null;
                    this.form.data.coverage_state = null;
                }
            },
            handleAddressChange(data) {
                let address = this.getAddress(data);
                this.mergeExistingFields(this.form.data, address);
            },
            formatSliderTooltip(val) {
                return val + 'KM';
            },
        },
    };
</script>

<style lang="scss" scoped>
    div.coverage-radius-slider
    {
        word-break: normal;
    }
    div.coverage-radius-slider /deep/ div.el-slider__marks-text:first-child
    {
        transform: none;
    }
    div.coverage-radius-slider /deep/ div.el-slider__marks-text:last-child
    {
        transform: translateX(-100%);
    }
</style>
