<template>
    <section id="contacts">
        <h2 class="page-title">
            Contacts
        </h2>

        <!-- search bar -->
        <el-col :span="24" class="m-t-10" style="padding-bottom: 0;">
            <el-form :inline="true" :model="listFilters" size="mini" @submit.native.prevent="fetchContacts">
                <el-form-item>
                    <el-button type="primary" icon="el-icon-plus" @click="handleAdd">
                        Add
                    </el-button>
                </el-form-item>
                <el-form-item class="search-input">
                    <el-input v-model="listFilters.term" placeholder="Search..." @input="applySearch">
                        <i
                            v-if="listFilters.term.length"
                            slot="suffix"
                            class="el-input__icon el-icon-error"
                            @click="clearSearch"></i>
                    </el-input>
                </el-form-item>
            </el-form>
        </el-col>

        <!-- table -->
        <el-table
            v-loading="loading.list"
            :data="contacts"
            highlight-current-row>
            <el-table-column prop="name" label="Name">
                <template slot-scope="scope">
                    {{ `${scope.row.first_name} ${scope.row.last_name}` }}
                </template>
            </el-table-column>
            <el-table-column prop="email" label="Email"></el-table-column>
            <el-table-column label="Actions" width="130">
                <template slot-scope="scope">
                    <el-button size="mini" icon="el-icon-edit" @click="handleEdit(scope.row)"></el-button>
                    <el-button
                        type="danger"
                        size="mini"
                        icon="el-icon-delete"
                        @click="handleDelete(scope.row)">
                    </el-button>
                </template>
            </el-table-column>
        </el-table>

        <!-- pagination -->
        <el-col :span="24" class="el-pagination">
            <el-pagination
                layout="sizes, prev, pager, next"
                :page-size="listFilters.pagination.pageSize"
                :total="total"
                style="float:right;"
                @size-change="handleSizeChange"
                @current-change="handleCurrentChange">
            </el-pagination>
        </el-col>

        <!-- create contact dialog -->
        <el-dialog
            :title="form.title"
            :visible.sync="visible.dialog"
            :close-on-click-modal="false"
            :close-on-press-escape="false"
            :show-close="!loading.dialog"
            :append-to-body="true"
            class="contacts-dialog">
            <el-form
                ref="dialogForm"
                :model="form.data"
                label-width="auto"
                :rules="form.rules"
                @submit.native.prevent="saveSubmit">
                <el-row :gutter="10">
                    <el-col :span="13">
                        <el-form-item label="Name" prop="first_name" :error="errors.form.get('first_name')">
                            <el-input
                                v-model="form.data.first_name"
                                placeholder="First name"
                                @change="errors.form.clear('first_name')"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="11">
                        <el-form-item label-width="0px" prop="last_name" :error="errors.form.get('last_name')">
                            <el-input
                                v-model="form.data.last_name"
                                placeholder="Last name"
                                @change="errors.form.clear('last_name')"></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-form-item label="Email" prop="email" :error="errors.form.get('email')">
                    <el-input
                        v-model="form.data.email"
                        placeholder="Email"
                        @change="errors.form.clear('email')"></el-input>
                </el-form-item>
                <el-form-item label="Date of birth" prop="date_of_birth" :error="errors.form.get('date_of_birth')">
                    <date-picker-multiple-format
                        v-model="form.data.date_of_birth"
                        style="width: 100%;"
                        type="date"
                        placeholder="Pick a date"
                        clearable
                        :picker-options="{disabledDate: (time) => time.getTime() > Date.now()}"
                        :value-format="dateFormat"
                        :format="dateFormat"
                        @change="errors.form.clear('date_of_birth')"></date-picker-multiple-format>
                </el-form-item>
                <!-- phone number -->
                <el-row :gutter="10">
                    <el-col :span="13">
                        <el-form-item label="Phone" prop="mobile_phone_number" :error="errors.form.get('mobile_phone_number')">
                            <el-input
                                v-model="form.data.mobile_phone_number"
                                type="phone"
                                placeholder="Mobile phone number"
                                autocomplete="on"
                                @change="errors.form.clear('mobile_phone_number')"
                                @input="handlePhoneInput"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="11">
                        <el-form-item label-width="0px" prop="home_phone_number" :error="errors.form.get('home_phone_number')">
                            <el-input
                                v-model="form.data.home_phone_number"
                                type="phone"
                                placeholder="Home phone number"
                                autocomplete="on"
                                @change="errors.form.clear('home_phone_number')"
                                @input="handlePhoneInput"></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <!-- Address -->
                <el-row :gutter="10">
                    <el-col :span="24">
                        <el-form-item label="Address" prop="address" :error="errors.form.get('address')">
                            <div class="el-input el-input--suffix">
                                <GmapAutocomplete
                                    id="contact-address"
                                    :options="autocompleteOptions"
                                    :value="form.data.address"
                                    class="el-input__inner"
                                    @change="changeAddress"
                                    @place_changed="handleAddressChange">
                                </GmapAutocomplete>
                                <i class="el-input__suffix el-input__icon el-icon-location-outline"></i>
                            </div>
                        </el-form-item>
                    </el-col>
                </el-row>
                <!-- NDIS Number -->
                <template v-if="$auth.user().userAccessLevel == 1">
                    <el-form-item label="NDIS Number" prop="ndis_number" :error="errors.form.get('ndis_number')">
                        <el-input
                            v-model="form.data.ndis_number"
                            placeholder="NDIS Number"
                            @change="errors.form.clear('ndis_number')"></el-input>
                    </el-form-item>
                </template>
                <!-- related user -->
                <el-form-item required label="User" prop="user_id" :error="errors.form.get('user_id')">
                    <el-select
                        v-model="form.data.user"
                        value-key="id"
                        v-loading="loading.usersList"
                        clearable
                        placeholder="Select a related user"
                        style="width: 100%;">
                        <el-option
                            v-for="user in filteredUsers"
                            :key="user.id"
                            :label="user.name"
                            :value="user">
                        </el-option>
                    </el-select>
                </el-form-item>
                <!-- Companies -->
                <template>
                    <el-form-item required label="Companies" prop="companies" :error="errors.form.get('companies')">
                        <el-select
                            v-model="form.data.companies"
                            v-loading="loading.companiesList"
                            clearable
                            multiple
                            placeholder="Select a companies"
                            style="width: 100%;">
                            <el-option
                                v-for="company in companies"
                                :key="company.id"
                                :label="company.business_name"
                                :value="company.id">
                            </el-option>
                        </el-select>
                    </el-form-item>
                </template>
            </el-form>

            <div slot="footer" class="dialog-footer">
                <el-button :disabled="loading.dialog" @click.native="visible.dialog = false">
                    Cancel
                </el-button>
                <el-button type="primary" :loading="loading.dialog" @click.native="saveSubmit">
                    {{ form.data.id ? 'Update' : 'Save' }}
                </el-button>
            </div>
        </el-dialog>
    </section>
</template>

<script>
    import DatePickerMultipleFormat from '~/components/_common_/DatePickerMultipleFormat';
    import {
        getContactList,
        getUserListForContacts,
        getCompanyListForContacts,
        updateContact,
        storeContact,
        destroyContact,
    } from '~/includes/endpoints';
    import Errors from '~/includes/_common_/Errors';
    import {methods} from '~/includes/_common_/util';
    import app_data from '~/includes/app_data';
    import common from '~/mixins/common';

    const CancelToken = Axios.CancelToken;

    const formData = {
        user: {},
        first_name: '',
        last_name: '',
        date_of_birth: null,
        mobile_phone_number: '',
        home_phone_number: '',
        email: '',
        address: '',
        postcode: '',
        country: '',
        ndis_number: '',
        companies: [],
    };

    export default {
        name: 'Contacts',
        components: {
            DatePickerMultipleFormat,
        },
        mixins: [common],
        data: () => ({
            contacts: [],
            users: [],
            filteredUsers: [],
            companies: [],
            listFilters: {
                term: '',
                pagination: {
                    pageSize: 10,
                    page: 1,
                },
            },
            total: 0,

            loading: {
                list: true,
                dialog: false,
                usersList: true,
                companiesList: true,
            },

            visible: {
                dialog: false,
            },

            errors: {
                form: new Errors(),
            },

            cancelTokens: {
                list: CancelToken.source(),
            },

            form: {
                title: 'New Contact',
                data: {...formData},
                rules: {
                    first_name: [
                        {required: true, message: 'First name is required'},
                    ],
                    last_name: [
                        {required: true, message: 'Last name is required'},
                    ],
                    date_of_birth: [
                        {required: true, message: 'Date of birth is required'},
                    ],
                    mobile_phone_number: [
                        {required: true, message: 'Mobile phone number is required'},
                    ],
                    email: [
                        {required: true, message: 'Email is required'},
                        {type: 'email', message: 'Please, use a valid email address'},
                    ],
                    companies: [
                        {type: 'array', required: true, message: 'Please select at least one company'},
                    ],
                    user_id: [
                        {required: true, message: 'Please select at user'},
                    ],
                },
            },

            streetTypes: {
                'Avenue': 'Avenue',
                'Street': 'Street',
            },
            countryList: app_data.countryList,
            dateFormat: window.Laravel.formatDate.datepickerDate,
        }),
        computed: {
            _: _,
        },
        mounted() {
            this.fetchContacts();
            this.fetchUsers();
            this.fetchCompanies();
        },
        methods: {
            ...methods,
            fetchContacts() {
                this.loading.list = true;

                if (this.cancelTokens.list) {
                    this.cancelTokens.list.cancel('Another contacts list fetched');
                }

                this.cancelTokens.list = CancelToken.source();

                getContactList(this.listFilters, {cancelToken: this.cancelTokens.list.token}).then(response => {
                    this.contacts = response.data.data;
                    this.total = response.data.total;
                }).catch(error => {
                    this.$errors.handle(error);
                }).finally(() => {
                    this.loading.list = false;
                });
            },
            fetchUsers() {
                this.loading.usersList = true;

                getUserListForContacts().then(response => {
                    this.users = response.data.data;
                }).catch(error => {
                    this.$errors.handle(error);
                }).finally(() => {
                    this.loading.usersList = false;
                });
            },
            fetchCompanies() {
                this.loading.companiesList = true;

                getCompanyListForContacts().then(response => {
                    this.companies = response.data.data;
                    formData.companies = this.companies.length === 1 ? [this.companies[0].id] : [];
                }).catch(error => {
                    this.$errors.handle(error);
                }).finally(() => {
                    this.loading.companiesList = false;
                });
            },

            handleCurrentChange(value) {
                this.listFilters.pagination.page = value;
                this.fetchContacts();
            },
            handleSizeChange(value) {
                this.listFilters.pagination.pageSize = value;
                this.fetchContacts();
            },
            applySearch: _.debounce(function() {
                this.fetchContacts();
            }, 300),
            clearSearch() {
                this.listFilters.term = '';
                this.fetchContacts();
            },

            handleDelete(row) {
                this.$confirm('This will permanently delete the contact. Continue?', 'Warning', {
                    type: 'warning',
                }).then(() => {
                    this.loading.list = true;

                    destroyContact(row.id).then(() => {
                        this.$message.success('Contact deleted');
                    }).catch((error) => {
                        this.$errors.handle(error);
                    }).finally(() => {
                        this.loading.list = false;
                        this.fetchContacts();
                    });
                });
            },
            // event edit contact
            handleEdit(row) {
                this.form.title = 'Edit Contact';
                this.form.data = Object.assign({}, row);
                this.form.data.companies = _.map(row.companies, (company) => company.id);
                this.filteredUsers = row.user ? [...this.users, row.user] : [...this.users];
                this.errors.form = new Errors();
                this.visible.dialog = true;
                if (this.$refs.dialogForm) {
                    this.$refs.dialogForm.resetFields();
                }
            },
            handleAdd() {
                this.form.title = 'New Contact';
                this.form.data = {...formData};
                this.filteredUsers = [...this.users];
                this.errors.form = new Errors();
                this.visible.dialog = true;
                if (this.$refs.dialogForm) {
                    this.$refs.dialogForm.resetFields();
                }
            },
            handlePhoneInput() {
                this.$nextTick(() => {
                    this.$set(this.form.data, 'mobile_phone_number', this.formatPhoneNumber(this.form.data.mobile_phone_number));
                    this.$set(this.form.data, 'home_phone_number', this.formatPhoneNumber(this.form.data.home_phone_number));
                });
            },
            // event save, update
            saveSubmit() {
                this.$refs.dialogForm.validate((valid) => {
                    if (!valid) {
                        return 0;
                    }

                    this.loading.dialog = true;
                    this.errors.form.clear(undefined);
                    let action = this.form.data.id ? updateContact : storeContact;
                    action({...this.form.data, user_id: this.form.data.user.id ?? ''}).then(() => {
                        this.$message.success(this.form.data.id ? 'Contact updated' : 'Contact created');
                        this.visible.dialog = false;
                        this.fetchContacts();
                        this.fetchUsers();
                    }).catch(async error => {
                        await this.$errors.handle(error);
                        this.errors.form.record(this.$errors.all());
                    }).finally(() => {
                        this.loading.dialog = false;
                    });
                });
            },
            handleAddressChange(data) {
                let address = this.getAddress(data);
                this.mergeExistingFields(this.form.data, address);
            },
        },
    };
</script>

<style lang="scss" scoped>

</style>
