<template>
    <section>
        <h2 class="page-title">
            Plans
        </h2>

        <!-- search bar -->
        <el-col :span="24" class="m-t-10" style="padding-bottom: 0;">
            <el-form :inline="true" :model="listFilters" size="mini" @submit.native.prevent="fetchRateTypes">
                <el-form-item>
                    <el-button type="primary" icon="el-icon-plus" @click="handleAdd">
                        Add
                    </el-button>
                </el-form-item>
                <el-form-item class="search-input">
                    <el-input v-model="listFilters.term" placeholder="Search..." @input="applySearch">
                        <i
                            v-if="listFilters.term.length"
                            slot="suffix"
                            class="el-input__icon el-icon-error"
                            @click="clearSearch"></i>
                    </el-input>
                </el-form-item>
            </el-form>
        </el-col>

        <!-- table -->
        <el-table
            v-loading="loading.list"
            :data="plans"
            highlight-current-row>
            <el-table-column prop="ndis_reference_number" label="NDIS Reference number"></el-table-column>
            <el-table-column label="Actions" width="130">
                <template slot-scope="scope">
                    <el-button size="mini" icon="el-icon-edit" @click="handleEdit(scope.row)"></el-button>
                    <el-button
                        type="danger"
                        size="mini"
                        icon="el-icon-delete"
                        @click="handleDelete(scope.row)">
                    </el-button>
                </template>
            </el-table-column>
        </el-table>

        <!-- pagination -->
        <el-col :span="24" class="el-pagination">
            <el-pagination
                layout="sizes, prev, pager, next"
                :page-size="listFilters.pagination.pageSize"
                :total="total"
                style="float:right;"
                @size-change="handleSizeChange"
                @current-change="handleCurrentChange">
            </el-pagination>
        </el-col>

        <el-dialog
            :title="form.title"
            :visible.sync="visible.dialog"
            :close-on-click-modal="false"
            :close-on-press-escape="false"
            :show-close="!loading.dialog"
            :append-to-body="true"
            class="rate-type-dialog">
            <el-form
                ref="dialogForm"
                :model="form.data"
                label-width="auto"
                :rules="form.rules"
                @submit.native.prevent="saveSubmit">
                <el-form-item label="Company" prop="company_id" :error="errors.form.get('company_id')">
                    <el-select
                        v-model="form.data.company_id"
                        clearable
                        placeholder="Select a company"
                        style="width: 100%;">
                        <el-option
                            v-for="company in companies"
                            :key="company.id"
                            :label="company.business_name"
                            :value="company.id">
                        </el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="Participant" prop="participant_id" :error="errors.form.get('participant_id')">
                    <el-select
                        v-model="form.data.participant_id"
                        clearable
                        placeholder="Select a participant"
                        style="width: 100%;">
                        <el-option
                            v-for="participant in participants"
                            :key="participant.id"
                            :label="participant.name"
                            :value="participant.id">
                        </el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="NDIS Reference number" prop="ndis_reference_number" :error="errors.form.get('ndis_reference_number')">
                    <el-input v-model="form.data.ndis_reference_number" @change="errors.form.clear('ndis_reference_number')"></el-input>
                </el-form-item>
                <el-form-item label="Active" prop="active" :error="errors.form.get('active')">
                    <el-switch v-model="form.data.active"></el-switch>
                </el-form-item>
                <el-form-item label="Expiration date" prop="expiration_date" :error="errors.form.get('expiration_date')">
                    <el-date-picker
                        v-model="form.data.expiration_date"
                        style="width: 100%;"
                        type="date"
                        placeholder="Select a date"
                        :picker-options="{disabledDate: (time) => time.getTime() < Date.now()}"
                        value-format="yyyy-MM-dd"
                        @change="errors.form.clear('expiration_date')"></el-date-picker>
                </el-form-item>
                <el-form-item label="Manage type" prop="manage_type" :error="errors.form.get('manage_type')">
                    <el-select
                        v-model="form.data.manage_type"
                        clearable
                        placeholder="Select a manage type"
                        style="width: 100%;">
                        <el-option
                            v-for="(type, key) in manageTypes"
                            :key="key"
                            :label="type"
                            :value="key">
                        </el-option>
                    </el-select>
                </el-form-item>
            </el-form>

            <div slot="footer" class="dialog-footer">
                <el-button :disabled="loading.dialog" @click.native="visible.dialog = false">
                    Cancel
                </el-button>
                <el-button type="primary" :loading="loading.dialog" @click.native="saveSubmit">
                    {{ form.data.id ? 'Update' : 'Save' }}
                </el-button>
            </div>
        </el-dialog>
    </section>
</template>

<script>
    import {
        getPlanList,
        storePlan,
        updatePlan,
        destroyPlan,
        getCompanyListForPlans,
        getParticipantListForPlans,
    } from '~/includes/endpoints';
    import Errors from '~/includes/_common_/Errors';
    import {methods} from '~/includes/_common_/util';

    const CancelToken = Axios.CancelToken;

    const formData = {
        company_id: null,
        participant_id: null,
        ndis_reference_number: '',
        active: true,
        expiration_date: null,
        manage_type: null,
    };

    export default {
        name: 'Plans',
        data: () => ({
            plans: [],
            companies: [],
            participants: [],
            listFilters: {
                term: '',
                pagination: {
                    pageSize: 10,
                    page: 1,
                },
            },
            total: 0,

            loading: {
                list: true,
                dialog: false,
                companies: true,
                participants: true,
            },

            visible: {
                dialog: false,
            },

            errors: {
                form: new Errors(),
            },

            cancelTokens: {
                list: CancelToken.source(),
            },

            form: {
                title: 'New Plan',
                data: {...formData},
                rules: {
                    company_id: [
                        {required: true, message: 'Company is required'},
                    ],
                    participant_id: [
                        {required: true, message: 'Participant is required'},
                    ],
                    ndis_reference_number: [
                        {required: true, message: 'NDIS Reference number is required'},
                    ],
                    active: [
                        {required: true, message: 'Active is required'},
                    ],
                    expiration_date: [
                        {required: true, message: 'Expiration date is required'},
                    ],
                    manage_type: [
                        {required: true, message: 'Manage type is required'},
                    ],
                },
            },
            manageTypes: window.Laravel.Plan.MANAGE_TYPES,
        }),
        computed: {
            _: _,
        },
        mounted() {
            this.fetchPlans();
            this.fetchCompanies();
            this.fetchParticipants();
        },
        methods: {
            ...methods,
            fetchPlans() {
                this.loading.list = true;

                if (this.cancelTokens.list) {
                    this.cancelTokens.list.cancel('Another Plan list fetched');
                }

                this.cancelTokens.list = CancelToken.source();

                getPlanList(this.listFilters, {cancelToken: this.cancelTokens.list.token}).then(response => {
                    this.plans = response.data.data;
                    this.total = response.data.total;
                }).catch(error => {
                    this.$errors.handle(error);
                }).finally(() => {
                    this.loading.list = false;
                });
            },
            fetchCompanies() {
                this.loading.companies = true;

                getCompanyListForPlans().then(response => {
                    this.companies = response.data.data;
                }).catch(error => {
                    this.$errors.handle(error);
                }).finally(() => {
                    this.loading.companies = false;
                });
            },
            fetchParticipants() {
                this.loading.participants = true;

                getParticipantListForPlans().then(response => {
                    this.participants = response.data.data;
                }).catch(error => {
                    this.$errors.handle(error);
                }).finally(() => {
                    this.loading.participants = false;
                });
            },

            handleCurrentChange(value) {
                this.page = value;
                this.fetchPlans();
            },
            handleSizeChange(value) {
                this.pageSize = value;
                this.fetchPlans();
            },
            applySearch: _.debounce(function() {
                this.fetchPlans();
            }, 300),
            clearSearch() {
                this.listFilters.term = '';
                this.fetchPlans();
            },

            handleDelete(row) {
                this.$confirm('This will permanently delete the plan. Continue?', 'Warning', {
                    type: 'warning',
                }).then(() => {
                    this.loading.list = true;

                    destroyPlan(row.id).then(() => {
                        this.$message.success('Plan deleted');
                    }).catch((error) => {
                        this.$errors.handle(error);
                    }).finally(() => {
                        this.loading.list = false;
                        this.fetchPlans();
                    });
                });
            },
            handleEdit(row) {
                this.form.title = 'Edit Plan';
                this.form.data = Object.assign({}, row);
                this.errors.form = new Errors();
                this.visible.dialog = true;
                if (this.$refs.dialogForm) {
                    this.$refs.dialogForm.resetFields();
                }
            },
            handleAdd() {
                this.form.title = 'New Plan';
                this.form.data = {...formData};
                this.errors.form = new Errors();
                this.visible.dialog = true;
                if (this.$refs.dialogForm) {
                    this.$refs.dialogForm.resetFields();
                }
            },
            saveSubmit() {
                this.$refs.dialogForm.validate((valid) => {
                    if (!valid) {
                        return 0;
                    }

                    this.loading.dialog = true;
                    this.errors.form.clear(undefined);
                    let action = this.form.data.id ? updatePlan : storePlan;

                    action(this.form.data).then(() => {
                        this.$message.success(this.form.data.id ? 'Plan updated' : 'Plan created');
                        this.visible.dialog = false;
                        this.fetchPlans();
                    }).catch(async error => {
                        await this.$errors.handle(error);
                        this.errors.form.record(this.$errors.all());
                    }).finally(() => {
                        this.loading.dialog = false;
                    });
                });
            },
        },
    };
</script>

<style lang="scss" scoped>

</style>
