<template>
    <section id="rate-types">
        <h2 class="page-title">
            Rate Types
        </h2>

        <section class="m-t-10 p-b-0">
            <el-form inline :model="listFilters" size="mini" @submit.native.prevent="fetchRateTypes">
                <el-button type="primary" icon="el-icon-plus" @click="handleAdd">
                    Add
                </el-button>
                <el-form-item class="search-input">
                    <el-input
                        v-model="listFilters.term"
                        clearable
                        placeholder="Search..."
                        @input="applySearch">
                    </el-input>
                </el-form-item>
            </el-form>
        </section>

        <el-table
            v-loading="loading.list"
            :data="rateTypes"
            highlight-current-row>
            <el-table-column prop="name" label="Name"></el-table-column>
            <el-table-column :prop="rateTypeValues.MM.field" :label="rateTypeValues.MM.description"></el-table-column>
            <el-table-column :prop="rateTypeValues.State.field" :label="rateTypeValues.State.description"></el-table-column>
            <el-table-column label="Actions" width="130">
                <template slot-scope="{row}">
                    <el-button
                        size="mini"
                        icon="el-icon-edit"
                        @click="handleEdit(row)">
                    </el-button>
                    <el-button
                        type="danger"
                        size="mini"
                        icon="el-icon-delete"
                        @click="handleDelete(row)">
                    </el-button>
                </template>
            </el-table-column>
        </el-table>

        <el-pagination
            layout="sizes, prev, pager, next"
            :page-size.sync="listFilters.pagination.pageSize"
            :current-page.sync="listFilters.pagination.page"
            :total="total"
            class="pull-right">
        </el-pagination>

        <el-dialog
            :title="form.title"
            :visible.sync="visible.dialog"
            :close-on-click-modal="false"
            :close-on-press-escape="false"
            :show-close="!loading.dialog"
            append-to-body
            class="rate-type-dialog">
            <el-form
                ref="dialogForm"
                :model="form.data"
                :rules="rules"
                label-width="auto"
                @submit.native.prevent="saveSubmit">
                <el-form-item label="Name" prop="name" :error="$errors.get('name')">
                    <el-input
                        v-model="form.data.name"
                        @change="$errors.clear('name')">
                    </el-input>
                </el-form-item>
                <el-form-item
                    label="Type"
                    prop="type"
                    :error="$errors.get('type')">
                    <el-select
                        v-model="form.data.type"
                        default-first-option
                        class="width-full"
                        @change="clearTypesFieldsAndValidation">
                        <el-option
                            v-for="type in rateTypeValues"
                            :key="type.field"
                            :value="type.field"
                            :label="type.description">
                        </el-option>
                    </el-select>
                </el-form-item>
                <el-form-item
                    v-show="form.data.type === rateTypeValues.MM.field"
                    :label="rateTypeValues.MM.description"
                    :prop="rateTypeValues.MM.field"
                    :error="$errors.get(rateTypeValues.MM.field)">
                    <el-select
                        v-model="form.data[rateTypeValues.MM.field]"
                        default-first-option
                        class="width-full"
                        clearable
                        @change="clearTypesFieldsAndValidation(rateTypeValues.MM.field)">
                        <el-option
                            v-for="mm_value in mm_values"
                            :key="mm_value"
                            :label="mm_value"
                            :value="mm_value">
                        </el-option>
                    </el-select>
                </el-form-item>
                <el-form-item
                    v-show="form.data.type === rateTypeValues.State.field"
                    :label="rateTypeValues.State.description"
                    :prop="rateTypeValues.State.field"
                    :error="$errors.get(rateTypeValues.State.field)">
                    <el-select
                        v-model="form.data[rateTypeValues.State.field]"
                        default-first-option
                        class="width-full"
                        clearable
                        @change="clearTypesFieldsAndValidation(rateTypeValues.State.field)">
                        <el-option
                            v-for="state in Object.keys(states)"
                            :key="state"
                            :label="states[state]"
                            :value="state">
                        </el-option>
                    </el-select>
                </el-form-item>
            </el-form>

            <template slot="footer">
                <el-button :disabled="loading.dialog" @click.native="visible.dialog = false">
                    Cancel
                </el-button>
                <el-button type="primary" :loading="loading.dialog" @click.native="saveSubmit">
                    {{ form.data.id ? 'Update' : 'Save' }}
                </el-button>
            </template>
        </el-dialog>
    </section>
</template>

<script>
    import {
        getRateTypeList,
        storeRateType,
        updateRateType,
        destroyRateType,
    } from '~/includes/endpoints';
    import {methods} from '~/includes/_common_/util';

    const CancelToken = Axios.CancelToken;

    export const rateTypeValues = {
        MM: {
            description: 'Monash Model',
            field: 'mm_value',
        },
        State: {
            description: 'State',
            field: 'state',
        },
    };

    const formData = {
        name: '',
        type: '',
        ...Object.values(rateTypeValues).reduce((res, itm) => ({...res,
            [itm.field]: '',
        }), {}),
    };

    export default {
        name: 'RateTypes',
        data() {
            return {
                rateTypeValues,
                rateTypes: [],
                listFilters: {
                    term: '',
                    pagination: {
                        pageSize: 10,
                        page: 1,
                    },
                },
                total: 0,
                loading: {
                    list: false,
                    dialog: false,
                },
                visible: {
                    dialog: false,
                },
                cancelTokens: {
                    list: null,
                },
                form: {
                    title: 'New Rate Type',
                    data: {...formData},
                },
                rules: {
                    name: [{required: true, message: 'Name is required'}],
                    type: [{required: true, message: 'Type is required'}],
                    ...Object.values(rateTypeValues).reduce((res, itm) => ({...res,
                        [itm.field]: [{validator: this.validateDynamicField}],
                    }), {}),
                },
                states: Laravel.lists.States,
                mm_values: [1, 2, 3, 4, 5, 6, 7],
            };
        },
        watch: {
            'listFilters.pagination.page'() {
                this.fetchRateTypes();
            },
            'listFilters.pagination.pageSize'() {
                this.fetchRateTypes();
            },
        },
        mounted() {
            this.fetchRateTypes();
        },
        methods: {
            ...methods,
            clearTypesFieldsAndValidation(excludeField) {
                this.$refs['dialogForm'].clearValidate(['type']);
                for (const rateType in rateTypeValues) {
                    const fieldName = rateTypeValues[rateType].field;
                    if (excludeField !== fieldName) {
                        this.form.data[fieldName] = '';
                    }
                }
                this.$refs['dialogForm'].clearValidate(Object.keys(rateTypeValues));
            },
            validateDynamicField: function(rule, value, callback) {
                if (rule.field === this.form.data.type && !this.form.data[rule.field]) {
                    const description = Object.values(rateTypeValues).find(itm => itm.field === rule.field).description;
                    callback(new Error(`${description} is required`));
                }

                callback();
            },
            fetchRateTypes() {
                if (this.cancelTokens.list) this.cancelTokens.list.cancel('Another Rate types list fetched');

                this.cancelTokens.list = CancelToken.source();
                this.loading.list = true;

                getRateTypeList(this.listFilters, {cancelToken: this.cancelTokens.list.token})
                    .then(({data}) => {
                        this.rateTypes = data.data;
                        this.total = data.total;
                    })
                    .catch(this.$errors.handle)
                    .finally(() => this.loading.list = false);
            },
            applySearch: _.debounce(function() {
                this.fetchRateTypes();
            }, 300),
            async handleDelete(row) {
                try {
                    await this.$confirm(
                        'This will permanently delete the rate type. Continue?',
                        'Warning',
                        {type: 'warning'},
                    );

                    this.loading.list = true;

                    await destroyRateType(row.id);

                    this.$message.success('Rate Type deleted');

                    this.fetchRateTypes();
                } catch (e) {
                    this.$errors.handle(e);
                } finally {
                    this.loading.list = false;
                }
            },
            getTypeRateFieldName: function(row) {
                for (const rateType in rateTypeValues) {
                    const fieldName = rateTypeValues[rateType].field;
                    if (row[fieldName]) {
                        return fieldName;
                    }
                }

                return '';
            },
            handleEdit(row) {
                this.form.title = 'Edit Rate Type';
                row.type = this.getTypeRateFieldName(row);

                this.form.data = Object.assign({}, row);
                this.visible.dialog = true;

                if (this.$refs.dialogForm) this.$refs.dialogForm.resetFields();
            },
            handleAdd() {
                this.form.title = 'New Rate Type';
                this.form.data = {...formData};
                this.visible.dialog = true;

                if (this.$refs.dialogForm) this.$refs.dialogForm.resetFields();
            },
            saveSubmit() {
                this.$refs.dialogForm.validate((valid) => {
                    if (!valid) return;

                    this.loading.dialog = true;
                    const action = this.form.data.id ? updateRateType : storeRateType;

                    action(this.form.data)
                        .then(() => {
                            this.$message.success(this.form.data.id ? 'Rate type updated' : 'Rate type created');
                            this.visible.dialog = false;
                            this.fetchRateTypes();
                        })
                        .catch(this.$errors.handle)
                        .finally(() => this.loading.dialog = false);
                });
            },
        },
    };
</script>

<style lang="scss" scoped>

</style>
