<template>
    <section id="service-types">
        <h2 class="page-title">
            Service Types
        </h2>

        <!-- search bar -->
        <el-col :span="24" class="m-t-10" style="padding-bottom: 0;">
            <el-form :inline="true" :model="listFilters" size="mini" @submit.native.prevent="fetchServiceTypes">
                <el-form-item>
                    <el-button type="primary" icon="el-icon-plus" @click="handleAdd">
                        Add
                    </el-button>
                </el-form-item>
                <el-form-item class="search-input">
                    <el-input v-model="listFilters.term" placeholder="Search..." @input="applySearch">
                        <i
                            v-if="listFilters.term.length"
                            slot="suffix"
                            class="el-input__icon el-icon-error"
                            @click="clearSearch"></i>
                    </el-input>
                </el-form-item>
            </el-form>
        </el-col>

        <!-- table -->
        <el-table
            v-loading="loading.list"
            :data="serviceTypes"
            highlight-current-row>
            <el-table-column prop="service_name" label="Name"></el-table-column>
            <el-table-column label="Actions" width="130">
                <template slot-scope="scope">
                    <el-button size="mini" icon="el-icon-edit" @click="handleEdit(scope.row)"></el-button>
                    <el-button
                        type="danger"
                        size="mini"
                        icon="el-icon-delete"
                        @click="handleDelete(scope.row)">
                    </el-button>
                </template>
            </el-table-column>
        </el-table>

        <!-- pagination -->
        <el-col :span="24" class="el-pagination">
            <el-pagination
                layout="sizes, prev, pager, next"
                :page-size="listFilters.pagination.pageSize"
                :total="total"
                style="float:right;"
                @size-change="handleSizeChange"
                @current-change="handleCurrentChange">
            </el-pagination>
        </el-col>

        <!-- create service type dialog -->
        <el-dialog
            :title="form.title"
            :visible.sync="visible.dialog"
            :close-on-click-modal="false"
            :close-on-press-escape="false"
            :show-close="!loading.dialog"
            :append-to-body="true"
            class="service-type-dialog">
            <el-form
                ref="dialogForm"
                :model="form.data"
                label-width="auto"
                :rules="form.rules"
                @submit.native.prevent="saveSubmit">
                <el-form-item label="Name" prop="service_name" :error="errors.form.get('service_name')">
                    <el-input v-model="form.data.service_name" @change="errors.form.clear('service_name')"></el-input>
                </el-form-item>
            </el-form>

            <div slot="footer" class="dialog-footer">
                <el-button :disabled="loading.dialog" @click.native="visible.dialog = false">
                    Cancel
                </el-button>
                <el-button type="primary" :loading="loading.dialog" @click.native="saveSubmit">
                    {{ form.data.id ? 'Update' : 'Save' }}
                </el-button>
            </div>
        </el-dialog>
    </section>
</template>

<script>
    import {
        getServiceTypeList,
        storeServiceType,
        updateServiceType,
        destroyServiceType,
    } from '~/includes/endpoints';
    import Errors from '~/includes/_common_/Errors';
    import {methods} from '~/includes/_common_/util';

    const CancelToken = Axios.CancelToken;

    const formData = {
        service_name: '',
    };

    export default {
        name: 'ServiceTypes',
        data: () => ({
            serviceTypes: [],
            listFilters: {
                term: '',
                pagination: {
                    pageSize: 10,
                    page: 1,
                },
            },
            total: 0,

            loading: {
                list: true,
                dialog: false,
            },

            visible: {
                dialog: false,
            },

            errors: {
                form: new Errors(),
            },

            cancelTokens: {
                list: CancelToken.source(),
            },

            form: {
                title: 'New Service Type',
                data: {...formData},
                rules: {
                    service_name: [
                        {required: true, message: 'Service name is required'},
                    ],
                },
            },
        }),
        computed: {
            _: _,
        },
        mounted() {
            this.fetchServiceTypes();
        },
        methods: {
            ...methods,
            fetchServiceTypes() {
                this.loading.list = true;

                if (this.cancelTokens.list) {
                    this.cancelTokens.list.cancel('Another service type list fetched');
                }

                this.cancelTokens.list = CancelToken.source();

                getServiceTypeList(this.listFilters, {cancelToken: this.cancelTokens.list.token}).then(response => {
                    this.serviceTypes = response.data.data;
                    this.total = response.data.total;
                }).catch(error => {
                    this.$errors.handle(error);
                }).finally(() => {
                    this.loading.list = false;
                });
            },

            handleCurrentChange(value) {
                this.page = value;
                this.fetchServiceTypes();
            },
            handleSizeChange(value) {
                this.pageSize = value;
                this.fetchServiceTypes();
            },
            applySearch: _.debounce(function() {
                this.fetchServiceTypes();
            }, 300),
            clearSearch() {
                this.listFilters.term = '';
                this.fetchServiceTypes();
            },

            handleDelete(row) {
                this.$confirm('This will permanently delete the service type. Continue?', 'Warning', {
                    type: 'warning',
                }).then(() => {
                    this.loading.list = true;

                    destroyServiceType(row.id).then(() => {
                        this.$message.success('Service Type deleted');
                    }).catch((error) => {
                        this.$errors.handle(error);
                    }).finally(() => {
                        this.loading.list = false;
                        this.fetchServiceTypes();
                    });
                });
            },
            handleEdit(row) {
                this.form.title = 'Edit Service Type';
                this.form.data = Object.assign({}, row);
                this.errors.form = new Errors();
                this.visible.dialog = true;
                if (this.$refs.dialogForm) {
                    this.$refs.dialogForm.resetFields();
                }
            },
            handleAdd() {
                this.form.title = 'New Service Type';
                this.form.data = {...formData};
                this.errors.form = new Errors();
                this.visible.dialog = true;
                if (this.$refs.dialogForm) {
                    this.$refs.dialogForm.resetFields();
                }
            },
            saveSubmit() {
                this.$refs.dialogForm.validate((valid) => {
                    if (!valid) {
                        return 0;
                    }

                    this.loading.dialog = true;
                    this.errors.form.clear(undefined);
                    let action = this.form.data.id ? updateServiceType : storeServiceType;

                    action(this.form.data).then(() => {
                        this.$message.success(this.form.data.id ? 'Service type updated' : 'Service type created');
                        this.visible.dialog = false;
                        this.fetchServiceTypes();
                    }).catch(async error => {
                        await this.$errors.handle(error);
                        this.errors.form.record(this.$errors.all());
                    }).finally(() => {
                        this.loading.dialog = false;
                    });
                });
            },
        },
    };
</script>

<style lang="scss" scoped>

</style>
