<template>
    <section id="specializations">
        <h2 class="page-title">
            Specializations
        </h2>

        <!-- search bar -->
        <el-col :span="24" class="m-t-10" style="padding-bottom: 0;">
            <el-form :inline="true" :model="listFilters" size="mini" @submit.native.prevent="fetchSpecializations">
                <el-form-item>
                    <el-button icon="el-icon-plus" type="primary" @click="handleAdd">
                        Add
                    </el-button>
                </el-form-item>
                <el-form-item class="search-input">
                    <el-input v-model="listFilters.term" placeholder="Search..." @input="applySearch">
                        <i
                            v-if="listFilters.term.length"
                            slot="suffix"
                            class="el-input__icon el-icon-error"
                            @click="clearSearch"></i>
                    </el-input>
                </el-form-item>
            </el-form>
        </el-col>

        <!-- table -->
        <el-table
            v-loading="loading.list"
            :data="specializations"
            highlight-current-row>
            <el-table-column label="Name" prop="name"></el-table-column>
            <el-table-column label="Code" prop="code"></el-table-column>
            <el-table-column label="Service Type" prop="service_type.service_name"></el-table-column>
            <el-table-column label="Actions" width="130">
                <template slot-scope="scope">
                    <el-button icon="el-icon-edit" size="mini" @click="handleEdit(scope.row)"></el-button>
                    <el-button
                        icon="el-icon-delete"
                        size="mini"
                        type="danger"
                        @click="handleDelete(scope.row)">
                    </el-button>
                </template>
            </el-table-column>
        </el-table>

        <!-- pagination -->
        <el-col :span="24" class="el-pagination">
            <el-pagination
                :page-size="listFilters.pagination.pageSize"
                :total="total"
                class="pull-right"
                layout="sizes, prev, pager, next"
                @size-change="handleSizeChange"
                @current-change="handleCurrentChange">
            </el-pagination>
        </el-col>

        <el-dialog
            :append-to-body="true"
            :close-on-click-modal="false"
            :close-on-press-escape="false"
            :show-close="!loading.dialog"
            :title="form.title"
            :visible.sync="visible.dialog"
            class="specialization-dialog">
            <el-form
                ref="dialogForm"
                :model="form.data"
                :rules="form.rules"
                label-width="auto"
                @submit.native.prevent="saveSubmit">
                <el-form-item :error="errors.form.get('name')" label="Name" prop="name">
                    <el-input v-model="form.data.name" @change="errors.form.clear('name')"></el-input>
                </el-form-item>
                <el-form-item :error="errors.form.get('code')" label="Code" prop="code">
                    <el-input v-model="form.data.code" @change="errors.form.clear('code')"></el-input>
                </el-form-item>
                <el-form-item :error="errors.form.get('service_type_id')" label="Service types" prop="service_type_id">
                    <el-select
                        v-model="form.data.service_type_id"
                        v-loading="loading.serviceTypeList"
                        placeholder="Select a service type"
                        style="width: 100%;">
                        <el-option
                            v-for="serviceType in serviceTypes"
                            :key="serviceType.id"
                            :label="serviceType.service_name"
                            :value="serviceType.id">
                        </el-option>
                    </el-select>
                </el-form-item>
            </el-form>

            <div slot="footer" class="dialog-footer">
                <el-button :disabled="loading.dialog" @click.native="visible.dialog = false">
                    Cancel
                </el-button>
                <el-button :loading="loading.dialog" type="primary" @click.native="saveSubmit">
                    {{ form.data.id ? 'Update' : 'Save' }}
                </el-button>
            </div>
        </el-dialog>
    </section>
</template>

<script>
    import {
        destroySpecialization,
        getServiceTypeListForSpecializations,
        getSpecializationList,
        storeSpecialization,
        updateSpecialization,
    } from '~/includes/endpoints';
    import Errors from '~/includes/_common_/Errors';
    import {methods} from '~/includes/_common_/util';

    const CancelToken = Axios.CancelToken;

    const formData = {
        name: '',
        code: '',
        service_type_id: '',
    };

    export default {
        name: 'Specializations',
        data: () => ({
            specializations: [],
            serviceTypes: [],
            listFilters: {
                term: '',
                pagination: {
                    pageSize: 10,
                    page: 1,
                },
            },
            total: 0,

            loading: {
                list: true,
                dialog: false,
                serviceTypeList: true,
            },

            visible: {
                dialog: false,
            },

            errors: {
                form: new Errors(),
            },

            cancelTokens: {
                list: CancelToken.source(),
            },

            form: {
                title: 'New Specialization',
                data: {...formData},
                rules: {
                    name: [
                        {required: true, message: 'Name is required'},
                    ],
                    code: [
                        {required: true, message: 'Code is required'},
                    ],
                    service_type_id: [
                        {required: true, message: 'Service Type is required'},
                    ],
                },
            },
        }),
        computed: {
            _: _,
        },
        mounted() {
            this.fetchSpecializations();
            this.fetchServiceTypes();
        },
        methods: {
            ...methods,
            fetchSpecializations() {
                this.loading.list = true;

                if (this.cancelTokens.list) {
                    this.cancelTokens.list.cancel('Another specializations list fetched');
                }

                this.cancelTokens.list = CancelToken.source();

                getSpecializationList(this.listFilters, {cancelToken: this.cancelTokens.list.token}).then(response => {
                    this.specializations = response.data.data;
                    this.total = response.data.total;
                }).catch(error => {
                    this.$errors.handle(error);
                }).finally(() => {
                    this.loading.list = false;
                });
            },
            fetchServiceTypes() {
                this.loading.serviceTypeList = true;

                getServiceTypeListForSpecializations().then(response => {
                    this.serviceTypes = response.data.data;
                }).catch(error => {
                    this.$errors.handle(error);
                }).finally(() => {
                    this.loading.serviceTypeList = false;
                });
            },

            handleCurrentChange(value) {
                this.page = value;
                this.fetchSpecializations();
            },
            handleSizeChange(value) {
                this.pageSize = value;
                this.fetchSpecializations();
            },
            applySearch: _.debounce(function() {
                this.fetchSpecializations();
            }, 300),
            clearSearch() {
                this.listFilters.term = '';
                this.fetchSpecializations();
            },

            handleDelete(row) {
                this.$confirm('This will permanently delete the specialization. Continue?', 'Warning', {
                    type: 'warning',
                }).then(() => {
                    this.loading.list = true;

                    destroySpecialization(row.id).then(() => {
                        this.$message.success('Specialization deleted');
                    }).catch((error) => {
                        this.$errors.handle(error);
                    }).finally(() => {
                        this.loading.list = false;
                        this.fetchSpecializations();
                    });
                });
            },
            handleEdit(row) {
                this.form.title = 'Edit Specialization';
                this.form.data = Object.assign({}, row);
                this.errors.form = new Errors();
                this.visible.dialog = true;
                if (this.$refs.dialogForm) {
                    this.$refs.dialogForm.resetFields();
                }
            },
            handleAdd() {
                this.form.title = 'New Specialization';
                this.form.data = {...formData};
                this.errors.form = new Errors();
                this.visible.dialog = true;
                if (this.$refs.dialogForm) {
                    this.$refs.dialogForm.resetFields();
                }
            },
            saveSubmit() {
                this.$refs.dialogForm.validate((valid) => {
                    if (!valid) {
                        return 0;
                    }

                    this.loading.dialog = true;
                    this.errors.form.clear(undefined);
                    let action = this.form.data.id ? updateSpecialization : storeSpecialization;

                    action(this.form.data).then(() => {
                        this.$message.success(this.form.data.id ? 'Specialization updated' : 'Specialization created');
                        this.visible.dialog = false;
                        this.fetchSpecializations();
                    }).catch(async error => {
                        await this.$errors.handle(error);
                        this.errors.form.record(this.$errors.all());
                    }).finally(() => {
                        this.loading.dialog = false;
                    });
                });
            },
        },
    };
</script>

<style lang="scss" scoped>

</style>
