<template>
    <section id="support-categories">
        <h2 class="page-title">
            Support Categories
        </h2>

        <!-- search bar -->
        <el-col :span="24" class="m-t-10 p-b-0">
            <el-form :inline="true" :model="listFilters" size="mini" @submit.native.prevent="fetchSupportCategories">
                <el-form-item>
                    <el-button type="primary" icon="el-icon-plus" @click="handleAdd">
                        Add
                    </el-button>
                </el-form-item>
                <el-form-item class="search-input">
                    <el-input v-model="listFilters.term" placeholder="Search..." @input="applySearch">
                        <i
                            v-if="listFilters.term.length"
                            slot="suffix"
                            class="el-input__icon el-icon-error"
                            @click="clearSearch"></i>
                    </el-input>
                </el-form-item>
            </el-form>
        </el-col>

        <!-- table -->
        <el-table
            v-loading="loading.list"
            :data="supportCategories"
            highlight-current-row>
            <el-table-column prop="name" label="Name"></el-table-column>
            <el-table-column label="Actions" width="130">
                <template slot-scope="scope">
                    <el-button size="mini" icon="el-icon-edit" @click="handleEdit(scope.row)"></el-button>
                    <el-button
                        type="danger"
                        size="mini"
                        icon="el-icon-delete"
                        @click="handleDelete(scope.row)">
                    </el-button>
                </template>
            </el-table-column>
        </el-table>

        <!-- pagination -->
        <el-col :span="24" class="el-pagination">
            <el-pagination
                layout="sizes, prev, pager, next"
                :page-size="listFilters.pagination.pageSize"
                :total="total"
                style="float:right;"
                @size-change="handleSizeChange"
                @current-change="handleCurrentChange">
            </el-pagination>
        </el-col>

        <!-- create support category dialog -->
        <el-dialog
            :title="form.title"
            :visible.sync="visible.dialog"
            :close-on-click-modal="false"
            :close-on-press-escape="false"
            :show-close="!loading.dialog"
            :append-to-body="true"
            class="support-category-dialog">
            <el-form
                ref="dialogForm"
                :model="form.data"
                label-width="auto"
                :rules="form.rules"
                @submit.native.prevent="saveSubmit">
                <el-form-item label="Name" prop="name" :error="errors.form.get('name')">
                    <el-input v-model="form.data.name" @change="errors.form.clear('name')"></el-input>
                </el-form-item>
            </el-form>

            <div slot="footer" class="dialog-footer">
                <el-button :disabled="loading.dialog" @click.native="visible.dialog = false">
                    Cancel
                </el-button>
                <el-button type="primary" :loading="loading.dialog" @click.native="saveSubmit">
                    {{ form.data.id ? 'Update' : 'Save' }}
                </el-button>
            </div>
        </el-dialog>
    </section>
</template>

<script>
    import {
        getSupportCategoryList,
        storeSupportCategory,
        updateSupportCategory,
        destroySupportCategory,
    } from '~/includes/endpoints';
    import Errors from '~/includes/_common_/Errors';
    import {methods} from '~/includes/_common_/util';

    const CancelToken = Axios.CancelToken;

    const formData = {
        name: '',
    };

    export default {
        name: 'SupportCategories',
        data: () => ({
            supportCategories: [],
            listFilters: {
                term: '',
                pagination: {
                    pageSize: 10,
                    page: 1,
                },
            },
            total: 0,

            loading: {
                list: true,
                dialog: false,
            },

            visible: {
                dialog: false,
            },

            errors: {
                form: new Errors(),
            },

            cancelTokens: {
                list: CancelToken.source(),
            },

            form: {
                title: 'New Support Category',
                data: {...formData},
                rules: {
                    name: [
                        {required: true, message: 'Name is required'},
                    ],
                },
            },
        }),
        computed: {
            _: _,
        },
        mounted() {
            this.fetchSupportCategories();
        },
        methods: {
            ...methods,
            fetchSupportCategories() {
                this.loading.list = true;

                if (this.cancelTokens.list) {
                    this.cancelTokens.list.cancel('Another Support category list fetched');
                }

                this.cancelTokens.list = CancelToken.source();

                getSupportCategoryList(this.listFilters, {cancelToken: this.cancelTokens.list.token}).then(response => {
                    this.supportCategories = response.data.data;
                    this.total = response.data.total;
                }).catch(error => {
                    this.$errors.handle(error);
                }).finally(() => {
                    this.loading.list = false;
                });
            },

            handleCurrentChange(value) {
                this.page = value;
                this.fetchSupportCategories();
            },
            handleSizeChange(value) {
                this.pageSize = value;
                this.fetchSupportCategories();
            },
            applySearch: _.debounce(function() {
                this.fetchSupportCategories();
            }, 300),
            clearSearch() {
                this.listFilters.term = '';
                this.fetchSupportCategories();
            },

            handleDelete(row) {
                this.$confirm('This will permanently delete the support category. Continue?', 'Warning', {
                    type: 'warning',
                }).then(() => {
                    this.loading.list = true;

                    destroySupportCategory(row.id).then(() => {
                        this.$message.success('Support Category deleted');
                    }).catch((error) => {
                        this.$errors.handle(error);
                    }).finally(() => {
                        this.loading.list = false;
                        this.fetchSupportCategories();
                    });
                });
            },
            handleEdit(row) {
                this.form.title = 'Edit Support Category';
                this.form.data = Object.assign({}, row);
                this.errors.form = new Errors();
                this.visible.dialog = true;
                if (this.$refs.dialogForm) {
                    this.$refs.dialogForm.resetFields();
                }
            },
            handleAdd() {
                this.form.title = 'New Support Category';
                this.form.data = {...formData};
                this.errors.form = new Errors();
                this.visible.dialog = true;
                if (this.$refs.dialogForm) {
                    this.$refs.dialogForm.resetFields();
                }
            },
            saveSubmit() {
                this.$refs.dialogForm.validate((valid) => {
                    if (!valid) {
                        return 0;
                    }

                    this.loading.dialog = true;
                    this.errors.form.clear(undefined);
                    let action = this.form.data.id ? updateSupportCategory : storeSupportCategory;

                    action(this.form.data).then(() => {
                        this.$message.success(this.form.data.id ? 'Support Category updated' : 'Support Category created');
                        this.visible.dialog = false;
                        this.fetchSupportCategories();
                    }).catch(async error => {
                        await this.$errors.handle(error);
                        this.errors.form.record(this.$errors.all());
                    }).finally(() => {
                        this.loading.dialog = false;
                    });
                });
            },
        },
    };
</script>

<style lang="scss" scoped>

</style>
