<template>
    <el-date-picker
        ref="datepicker"
        v-bind="$attrs"
        :value="value"
        type="date"
        @change="emitChange"
        @input="emitInput">
    </el-date-picker>
</template>

<script>
    const MONTHS_IN_YEAR = 12;

    function parseDay(value) {
        value = parseInt(value);

        return !value || value > moment().daysInMonth()
            ? moment().date()
            : value;
    }

    function parseMonth(value) {
        value = parseInt(value);

        return !value || value > MONTHS_IN_YEAR
            ? moment().month() + 1
            : value;
    }

    function parseYear(value) {
        value = parseInt(value);

        if (value >= 0 && value <= 99) {
            return value + 2000;
        }

        if (value >= 1000 && value <= 9999) {
            return value;
        }

        return moment().year();
    }

    export default {
        props: {
            value: {
                type: [String, Date],
                default: () => (''),
            },
        },
        mounted() {
            this.onInput();
            this.$refs.datepicker.$refs.reference.$refs.input.addEventListener('keyup', this.onKeyEnter);
        },
        beforeDestroy() {
            this.$refs.datepicker.$refs.reference.$refs.input.removeEventListener('keyup', this.onKeyEnter);
        },
        methods: {
            emitInput(value) {
                this.$emit('input', value);
            },
            emitChange(value) {
                this.$emit('change', value);
            },
            onInput() {
                this.$refs.datepicker.$refs.reference._events.input.push(value => {
                    const valueParts = value
                        .trim()
                        .split(/[^+\d]+/g)
                        .filter(item => item !== '');

                    const date = moment()
                        .set('date', parseDay(valueParts[0]))
                        .set('month', parseMonth(valueParts[1]) - 1)
                        .set('year', parseYear(valueParts[2]))
                        .format(window.Laravel.formatDate.serverDate);

                    return this.emitInput(date);
                });
            },
            onKeyEnter(event) {
                if (event.keyCode === 13) {
                    this.$refs.datepicker.hidePicker();
                }
            },
        },
    };
</script>
