<template>
    <section id="account-settings">
        <el-row :gutter="20">
            <el-col :md="14" :xs="24">
                <el-card class="box-card">
                    <div slot="header" class="clearfix">
                        <span class="card-header">Main Account Information</span>
                    </div>
                    <el-form ref="form" :model="form" :rules="infoRules" label-position="right" label-width="80px" size="small">
                        <el-form-item :error="errors.get('name')" label="Name" prop="name">
                            <el-input v-model="form.name" placeholder="Your full name" suffix-icon="el-icon-edit" @change="errors.clear('name')"></el-input>
                        </el-form-item>
                        <el-form-item :error="errors.get('email')" label="Email" prop="email">
                            <el-input v-model="form.email" placeholder="Your valid email address" suffix-icon="el-icon-fa-envelope-o" @change="errors.clear('email')"></el-input>
                        </el-form-item>
                        <el-form-item :error="errors.get('phone')" label="Phone" prop="phone">
                            <vue-tel-input
                                v-model="form.phone"
                                placeholder="Your mobile phone number"
                                suffix-icon="el-icon-fa-phone"
                                @change="errors.clear('phone')"
                                @input="handlePhoneInput">
                            </vue-tel-input>
                        </el-form-item>

                        <el-form-item :error="errors.get('avatar')" label="Avatar" prop="avatar">
                            <div class="el-form-item el-form-item--small crop-wrap">
                                <div class="logo-uploader-wrap">
                                    <div class="logo-uploader-img-wrap">
                                        <div
                                            v-if="!cropImgDataUrl.length && !form.avatar"
                                            class="icon icon_unknown-user"
                                            @click="cropToggleShow"></div>
                                        <img v-else :src="form.avatar" @click="cropToggleShow">
                                    </div>
                                    <my-upload
                                        ref="image"
                                        :headers="cropHeaders"
                                        :height="300"
                                        :url="cropUploadUrl"
                                        :value.sync="cropShow"
                                        :width="300"
                                        field="img"
                                        img-format="png"
                                        lang-type="en"
                                        method="POST"
                                        @input="cropMyUploadOnInput"
                                        @crop-success="cropSuccess"
                                        @crop-upload-success="cropUploadSuccess"
                                        @crop-upload-fail="cropUploadFail"
                                        @src-file-set="cropOnSrcFileSet">
                                    </my-upload>
                                    <div
                                        v-if="form.avatar"
                                        class="logo-uploader-delete"
                                        @click="cropDeleteImage">
                                        <i class="el-icon-delete"></i>
                                    </div>
                                </div>
                            </div>
                        </el-form-item>
                        <el-form-item class="m-b-0" style="text-align: right;">
                            <el-button v-if="infoChanged" @click="setInitialForm('form')">
                                Cancel
                            </el-button>
                            <el-button :disabled="!infoChanged || !$auth.check('account-settings.update')" :loading="formLoading.form" type="success" @click="saveSubmit">
                                Save
                            </el-button>
                        </el-form-item>
                    </el-form>
                </el-card>
            </el-col>
            <el-col :md="10" :xs="24">
                <el-card class="box-card">
                    <div slot="header" class="clearfix">
                        <span class="card-header">Additional Options</span>
                    </div>
                    <br>
                    <el-button :disabled="!$auth.check('account-settings.change-password')" class="btn-ellipsis" type="text" @click="showPasswordForm">
                        <i class="el-icon-fa-key"></i> Change Account Password
                    </el-button>
                    <br>
                    <el-button :disabled="!$auth.check('account-settings.edit-specializations')" class="btn-ellipsis" type="text" @click="showSpecializationsForm">
                        <i class="el-icon-fa-user-md"></i> Edit Specializations
                    </el-button>
                </el-card>
            </el-col>
        </el-row>

        <el-dialog :append-to-body="true" :close-on-click-modal="false" :visible.sync="passwordFormVisible" title="Change Account Password" width="600px">
            <el-form ref="passwordForm" :model="passwordForm" :rules="passwordFormRules" label-width="150px" size="small" @submit.native.prevent="passwordSaveSubmit">
                <el-form-item :error="errors.get('current_password')" label="Current Password" prop="current_password">
                    <el-input
                        v-model="passwordForm.current_password"
                        placeholder="Enter current password"
                        suffix-icon="el-icon-fa-key"
                        type="password"
                        @change="errors.clear('current_password')">
                    </el-input>
                </el-form-item>
                <el-form-item :error="errors.get('password')" label="New Password" prop="password">
                    <el-row>
                        <el-col :span="11">
                            <el-input
                                v-model="passwordForm.password"
                                placeholder="Enter new password"
                                suffix-icon="el-icon-fa-key"
                                type="password"
                                @change="errors.clear('password')">
                            </el-input>
                        </el-col>
                        <el-col :offset="2" :span="11">
                            <el-input
                                v-model="passwordForm.password_confirmation"
                                placeholder="Confirm new password"
                                suffix-icon="el-icon-fa-key"
                                type="password">
                            </el-input>
                        </el-col>
                    </el-row>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button :disabled="passwordFormLoading" size="small" @click.native="passwordFormVisible = false">
                    Cancel
                </el-button>
                <el-button :loading="passwordFormLoading" size="small" type="success" @click.native="passwordSaveSubmit">
                    Save
                </el-button>
            </div>
        </el-dialog>

        <el-dialog
            :append-to-body="true"
            :close-on-click-modal="false"
            :close-on-press-escape="false"
            :show-close="!loading.specializationsForm"
            :visible.sync="visible.specializationsForm">
            <template #title>
                <span class="el-dialog__title">Edit Specializations</span>
                <el-divider direction="vertical"></el-divider>
                <el-dropdown
                    :disabled="_.isEmpty(specializationsList)"
                    trigger="click"
                    @command="handleAddSpecialization">
                    <el-button size="small" type="primary">
                        Add new<i class="el-icon-arrow-down el-icon--right"></i>
                    </el-button>
                    <el-dropdown-menu slot="dropdown">
                        <el-dropdown-item v-for="(specialization, id) in specializationsList" :key="id" :command="id">
                            {{ specialization }}
                        </el-dropdown-item>
                    </el-dropdown-menu>
                </el-dropdown>
            </template>

            <el-card v-for="(specialization, idx) in userSpecializations" :key="specialization.id" class="specialization-item">
                <el-form label-width="auto">
                    <el-form-item label="Specialization">
                        <b>{{ specializationsList[specialization.specialization_id] }}</b>
                        <el-button
                            class="delete-specialization"
                            icon="el-icon-delete"
                            size="mini"
                            type="danger"
                            @click="deleteSpecialization(idx)"></el-button>
                    </el-form-item>
                    <el-form-item label="AHPRA registration number">
                        <el-input v-model="specialization.ahpra_registration_number"></el-input>
                    </el-form-item>
                </el-form>
            </el-card>

            <div slot="footer" class="dialog-footer">
                <el-button :disabled="loading.specializationsForm" size="small" @click.native="visible.specializationsForm = false">
                    Cancel
                </el-button>
                <el-button :loading="loading.specializationsForm" size="small" type="success" @click.native="specializationsSaveSubmit">
                    Save
                </el-button>
            </div>
        </el-dialog>
    </section>
</template>

<script>
    import {methods} from '~/includes/_common_/util';
    import Errors from '~/includes/_common_/Errors';
    import {changePassword, updateUser, updateUserSpecializations, userSpecializations} from '~/includes/endpoints';
    import cropUpload from '~/mixins/vueImageCropUpload';
    import myUpload from 'vue-image-crop-upload/upload-2';

    export default {
        components: {
            myUpload,
        },
        mixins: [cropUpload],
        beforeRouteLeave(to, from, next) {
            if (this.infoChanged && to.name !== 'Login') {
                this.$confirm('You have unsaved data. Sure you want to leave this page?', 'Warning', {
                    confirmButtonText: 'OK',
                    cancelButtonText: 'Cancel',
                    type: 'warning',
                }).then(() => {
                    next();
                });
            } else {
                next();
            }
        },
        data() {
            return {
                specializationsList: [],
                userSpecializations: [],
                appName: Laravel.appName,
                appEnable: Laravel.appEnable,
                errors: new Errors(),
                form: {
                    id: '',
                    name: '',
                    email: '',
                    phone: '',
                    avatar: '',
                    logo: '',
                    file: '',
                },
                infoFormOriginal: {},
                infoRules: {
                    name: [{required: true}],
                    email: [{required: true, type: 'email'}],
                    phone: [{required: true}, {validator: this.validatePhoneNumber}],
                },
                formLoading: {
                    form: false,
                },
                preferences: {
                    two_factor_auth: null,
                },
                suspendForm: {},
                suspendFormRules: {
                    password: [{required: true}],
                },
                suspendFormVisible: false,
                suspendFormLoading: false,
                deleteFormLoading: false,

                passwordForm: {},
                passwordFormRules: {
                    current_password: [{required: true, message: 'current password is required'}],
                    password: [{required: true, message: 'new password is required'}],
                    password_confirmation: [{required: true, message: 'password confirmation is required'}],
                },
                passwordFormVisible: false,
                passwordFormLoading: false,

                visible: {
                    specializationsForm: false,
                },
                loading: {
                    specializationsForm: false,
                    specializationsList: true,
                },
            };
        },
        computed: {
            _: _,
            filteredSpecificationsList: function() {
                return this.userSpecializations;
            },
            infoChanged: function() {
                return !_.isEqualWith(this.infoFormOriginal, this.form, function(objValue, othValue) {
                    let result = true;
                    _.forEach(objValue, (val, field) => {
                        if (objValue[field] || othValue[field]) {
                            result = result && (objValue[field] === othValue[field]);
                        }
                    });

                    return result;
                });
            },
        },
        mounted() {
            this.setInitialForm('form');
            this.setOriginalForms();
            this.fetchSpecializations();
        },
        methods: {
            ...methods,
            cropOnSrcFileSet() {
                const textError = 'Image size is too small. Please use an image with dimensions of 300px x 300px';
                this.$refs.image.$el.getElementsByClassName('vicp-error')[0].innerText = textError;
            },
            removeCroppedImage() {
                deleteUserAvatar({imagePath: this.form.avatar, id: this.form.id}).then(res => {
                    if (!!res.data) {
                        this.$set(this.form, 'avatar', '');
                        this.$set(this.form, 'logo', '');
                        this.$set(this.formOriginal, 'avatar', '');
                        this.$set(this.formOriginal, 'logo', '');
                    }
                });
            },
            setInitialForm(form) {
                const user = this.$auth.user();
                this.$refs[form] && this.$refs[form].resetFields();
                _.forEach(this[form], (val, field) => {
                    this.$set(this[form], field, user[field] === null ? '' : user[field]);
                    this.errors.clear(field);
                });
            },
            setOriginalForms() {
                this.infoFormOriginal = _.cloneDeep(this.form);
            },
            fetchSpecializations() {
                this.loading.specializationsList = true;
                userSpecializations().then(res => {
                    this.specializationsList = res.data.specializationsList;
                    this.userSpecializations = res.data.userSpecializations;
                }).catch(e => this.$errors.handle(e)).finally(() => {
                    this.loading.specializationsList = false;
                });
            },
            saveSubmit() {
                this.$refs['form'].validate((valid) => {
                    if (!valid) {
                        return 0;
                    }

                    this.formLoading.form = true;
                    let data = this.prepareUserData();
                    updateUser(data).then((response) => {
                        this.$message.success(response.data.message);
                    }).catch(async error => {
                        await this.$errors.handle(error);
                        this.errors.record(this.$errors.all());
                    }).finally(() => {
                        this.formLoading.form = false;
                    });
                });
            },
            prepareUserData() {
                let formData = new FormData();
                for (let field in this.form) {
                    if (typeof this.form[field] !== 'object') {
                        formData.append(field, this.form[field]);
                    }
                }

                if (this.form.file) {
                    formData.set('file', this.form.file);
                } else {
                    formData.delete('file');
                }

                formData.set('_method', 'PUT');

                return formData;
            },
            queryFreshUserData() {
                this.$auth.fetch();
            },
            handlePhoneInput(str, data) {
                this.$nextTick(() => {
                    this.$set(this.form, 'phone', this.formatPhoneNumber(data.number || data.formatted));
                    this.$refs['form'].validateField('phone');
                });
            },
            beforeAvatarUpload(file) {
                if (file.size / 1024 / 1024 > 2) {
                    this.$message.error('Picture size can not exceed 2MB!');

                    return false;
                }
                this.form.avatar = URL.createObjectURL(file.raw);
                this.form.file = file.raw;

                return true;
            },
            clearUserAvatar() {
                this.form.avatar = '';
                this.form.file = '';
            },
            showSuspendForm() {
                this.suspendForm = {};
                this.errors.clear('password');
                this.suspendFormVisible = true;
                if (this.$refs['suspendForm']) {
                    this.$refs['suspendForm'].resetFields();
                }
            },
            showPasswordForm() {
                this.passwordForm = {};
                this.errors.clear('current_password');
                this.errors.clear('password');
                this.passwordFormVisible = true;
                if (this.$refs['passwordForm']) {
                    this.$refs['passwordForm'].resetFields();
                }
            },
            passwordSaveSubmit() {
                this.$refs['passwordForm'].validate((valid) => {
                    if (!valid) {
                        return 0;
                    }

                    this.passwordFormLoading = true;
                    changePassword(this.passwordForm).then((response) => {
                        this.$message.success(response.data.message);
                        this.passwordForm = {};
                    }).catch(async error => {
                        await this.$errors.handle(error);
                        this.errors.record(this.$errors.all());
                    }).finally(() => {
                        this.passwordFormLoading = false;
                        this.passwordFormVisible = false;
                    });
                });
            },
            showSpecializationsForm() {
                this.errors = new Errors();
                this.visible.specializationsForm = true;
            },
            deleteSpecialization(id) {
                this.userSpecializations.splice(id, 1);
            },
            handleAddSpecialization(id) {
                this.userSpecializations.push({
                    specialization_id: id,
                    license_number: '',
                });
            },
            specializationsSaveSubmit() {
                this.loading.specializationsForm = true;

                const isFormFilled = _.every(this.userSpecializations, item => item.specialization_id && item.license_number);
                if (!isFormFilled) {
                    this.$message.error('Please, fill a form');
                    this.loading.specializationsForm = false;

                    return 0;
                }

                const data = this.userSpecializations.map(item => ({
                    specialization_id: item.specialization_id,
                    license_number: item.license_number,
                }));
                updateUserSpecializations({specializations: data}).then(res => {
                    this.$message.success('Specializations updated successfully');
                    this.userSpecializations = res.data.data;
                    this.visible.specializationsForm = false;
                }).catch(async error => {
                    await this.$errors.handle(error);
                    this.errors.record(this.$errors.all());
                }).finally(() => {
                    this.loading.specializationsForm = false;
                });
            },
        },
    };
</script>

<style lang="scss" scoped>

@import "~@/element-ui-colors";
@import "~@/element-ui-variables";
@import "~@/crop-uploader";

.form-row {
    display: flex;
    .form-row-input-group {
        flex-grow: 1;
    }
}
/deep/ .el-upload--text{
    width: 100%;
}

#account_settings {
    .el-card__header {
        button {
            float: right;
            padding: 3px 0;
            text-decoration: underline;

            i {
                font-size: 20px;
                vertical-align: middle;
                line-height: 0;
                padding-right: 5px;
            }
        }

    }

    .el-card__body {
        .el-form-item:not(.clear-none) {
            .el-form-item__content {
                @media screen and (max-width: $--sm - 1) {
                    clear: both;
                    margin-left: 0 !important;
                }
            }
        }

        .el-form-item__content {
            .period-separator {
                width: 30px;
                text-align: center;
                display: inline-block;
                float: left;
            }

            .el-date-editor.el-input {
                width: calc(50% - 15px);
                float: left;

                input {
                    padding-right: 0;
                }
            }
        }

        .el-button {
            &.btn-ellipsis {
                @media (max-width: $--xs - 1) {
                    width: 100%;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    text-align: left;
                }
            }
        }

        .small-check {
            .el-checkbox__label {
                font-size: 12px;
                font-weight: normal;
            }
        }
    }

    .user-avatar-container {
        max-width: 300px;
        display: flex;
        margin-bottom: 0;

        .user-avatar-placeholder {
            max-width: 300px;
            cursor: pointer;
            border-style: dashed;
            border-width: 1px;
            border-color: $--border-color-base;
            border-radius: $--border-radius-base;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.3s;

            .el-upload {
                max-width: 300px;
                display: block;

                .el-icon-plus {
                    transition: 0.3s;
                    font-size: 30px;
                    line-height: 130px;
                    color: $--border-color-base;
                }

                .user-avatar-preview {
                    position: relative;
                    display: flex;
                    padding: 5px;
                    height: 300px;
                    box-sizing: border-box;

                    img {
                        max-width: 300px;
                        object-fit: contain;
                        border-radius: $--border-radius-base;
                    }

                    .el-button--danger {
                        position: absolute;
                        right: 10px;
                        bottom: 10px;
                    }

                    &:before {
                        transition: 0.3s;
                        opacity: 0;
                        pointer-events: none;
                        content: ' ';
                        background-color: black;
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        border-radius: $--border-radius-base;
                    }

                    &:hover:before {
                        opacity: 0.4;
                    }
                }
            }

            &:hover {
                border-color: $--color-primary;

                .el-icon-plus {
                    color: $--color-primary;
                }
            }
        }
    }
}

.specialization-item {
    .el-card__body {
        padding: 20px !important;
    }
}

.delete-specialization {
    float: right;
    position: relative;
    top: 10px;
}
</style>
