<template>
    <main>
        <participant-dashboard v-if="dashboardName === 'Participant'"></participant-dashboard>
        <common-dashboard v-else></common-dashboard>
    </main>
</template>

<script>
    import Dashboard from './Dashboard/Dashboard';
    import {default as ParticipantDashboard} from '~/views/Participant/Dashboard';

    export default {
        name: 'Dashboard',
        components: {
            'common-dashboard': Dashboard,
            'participant-dashboard': ParticipantDashboard,
        },
        computed: {
            _: _,
            dashboardName: () => {
                return Vue.$auth.user().dashboard || null;
            },
        },
        mounted() {
            const user = this.$auth.user();
            if (!user.email_verified_at) {
                this.$nextTick(() => this.$message.warning('Your email is not confirmed. Please, check your email'));
            }
        },
    };
</script>
