<template>
    <el-container class="login-screen background-image">
        <app-header></app-header>
        <el-main class="login-section">
            <div class="v-align-container">
                <div class="t-cell">
                    <el-form ref="form" label-position="left" label-width="0px" class="login-container" :model="form" :rules="rules" @submit.native.prevent="submit">
                        <div class="title">
                            Sign Up Now
                        </div>
                        <el-form-item prop="name" :error="errors.get('name')">
                            <el-input v-model="form.name" auto-complete="name" placeholder="Full Name" suffix-icon="el-icon-edit" @change="errors.clear('name')"></el-input>
                        </el-form-item>
                        <el-form-item prop="email" :error="errors.get('email')">
                            <el-input ref="email-input" v-model="form.email" auto-complete="email" type="email" placeholder="Email" @change="errors.clear('email')">
                            </el-input>
                        </el-form-item>
                        <el-form-item prop="password" :error="errors.get('password')">
                            <el-row :gutter="10">
                                <el-col :span="12">
                                    <el-input
                                        v-model="form.password"
                                        auto-complete="new-password"
                                        type="password"
                                        suffix-icon="el-icon-fa-key"
                                        placeholder="Enter password"
                                        @change="errors.clear('password')">
                                    </el-input>
                                </el-col>
                                <el-col :span="12">
                                    <el-input
                                        v-model="form.password_confirmation"
                                        auto-complete="new-password"
                                        type="password"
                                        suffix-icon="el-icon-fa-key"
                                        placeholder="Confirm password">
                                    </el-input>
                                </el-col>
                            </el-row>
                        </el-form-item>
                        <el-form-item prop="phone" :error="errors.get('phone')">
                            <vue-tel-input
                                ref="phone-input"
                                v-model="form.phone"
                                placeholder="Mobile phone number"
                                @change="errors.clear('phone')"
                                @input="handlePhoneInput">
                            </vue-tel-input>
                        </el-form-item>
                        <el-form-item prop="agreement" :error="errors.get('agreement')">
                            <el-checkbox v-model="form.agreement">
                                I agree to the terms and conditions
                            </el-checkbox>
                        </el-form-item>
                        <el-form-item class="m-b-0" style="width:100%;" :error="errors.get('common')">
                            <el-button
                                type="primary"
                                style="width:100%;"
                                :loading="isSubmitting"
                                native-type="submit"
                                icon="el-icon-fa-sign-in-alt"
                                @click.native.prevent="submit">
                                Register
                            </el-button>
                        </el-form-item>
                    </el-form>
                </div>
            </div>
        </el-main>
    </el-container>
</template>

<script>
    import Errors from '~/includes/_common_/Errors';
    import {methods} from '~/includes/_common_/util';
    import appHeader from '~/components/_common_/Header';

    export default {
        components: {
            appHeader,
        },
        data() {
            return {
                isSubmitting: false,
                form: {
                    name: '',
                    email: '',
                    phone: '',
                    password: '',
                    password_confirmation: '',
                    agreement: true,
                    role: 'participant',
                },
                errors: new Errors(),
                rules: {
                    name: [{required: true}],
                    email: [{required: true, type: 'email'}],
                    password: [{required: true}],
                    phone: [{required: true}, {validator: this.validatePhoneNumber}],
                },
            };
        },
        methods: {
            ...methods,
            submit() {
                this.errors.clear(null);
                this.$refs['form'].validate((valid) => {
                    if (!valid) {
                        return 0;
                    }

                    this.isSubmitting = true;
                    let that = this;
                    this.$auth.register({
                        data: this.form,
                        autoLogin: false,
                        success() {
                            that.isSubmitting = false;
                            that.$alert('Please, check your email for the next step', 'You are registered!', {
                                confirmButtonText: 'OK',
                            });
                            that.$router.push({path: '/login'});
                        },
                        async error(error) {
                            await that.$errors.handle(error);
                            that.errors.record(that.$errors.all());
                            that.isSubmitting = false;
                        },
                    });
                });
            },
            handlePhoneInput(str, data) {
                this.$nextTick(() => {
                    this.$set(this.form, 'phone', this.formatPhoneNumber(data.number || data.formatted));
                    this.$refs['form'].validateField('phone');
                });
            },
        },
    };
</script>

<style lang="scss">
    @import "~@/element-ui-colors";
    @import "~@/element-ui-variables";

    .login-screen {
        min-height: 100%;
        &.background-image {
            background-image: url("../../../img/header-image.jpg");
            background-size: cover;
            background-position: center;

            &:before {
                background-image: repeating-radial-gradient(circle at center, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) 2px, transparent 2px, transparent 100%);
                background-size: 6px 6px;
            }
        }
        &:before {
            content: '';
            position: absolute;
            height: 100%;
            width: 100%;
            left: 0;
            min-height: 750px;
            @media (max-width: $--xs - 1) {
                min-height: 680px;
            }
        }
        .login-section {
            padding-top: 140px;
            padding-bottom: 0;
            min-height: 750px;
            display: flex;
            align-items: center;
            align-content: center;
            @media (max-width: $--xs - 1) {
                padding-top: 80px;
                min-height: 680px;
            }

        }
        .relative {
            position: relative;
        }
        .float-left {
            float: left !important;
        }
        .clearfix:after {
            clear: both;
        }

        .v-align-container {
            width: 100%;
        }

        .login-container {
            -webkit-border-radius: 5px;
            border-radius: 5px;
            -moz-border-radius: 5px;
            background-clip: padding-box;
            margin: 0 auto;
            position: relative;
            top: 10%;
            /*align-items: center;*/
            min-width: 170px;
            max-width: 350px;
            padding: 34px;
            background-color: rgba(255, 255, 255, 0.9);
            border: 1px solid $--border-color-base;
            box-shadow: $--box-shadow-light;
            .title {
                margin-bottom: 18px;
                margin-top: 0;
                font-size: 22px;
                text-align: center;
                color: $--color-text-primary;
            }
            @media (max-width: $--xs - 1) {
                padding: 15px;
                .el-radio + .el-radio {
                    margin-left: 20px;
                }
            }
        }

    }
</style>
