<template>
    <section>
        <el-row class="m-t-10">
            <el-col :span="12" :offset="6">
                <el-alert
                    :closable="false"
                    title="Please, wait"
                    show-icon>
                </el-alert>
                <div v-loading="true" style="width: 100%;"></div>
            </el-col>
        </el-row>
    </section>
</template>

<script>
    import {
        verifyUser,
    } from '~/includes/endpoints';

    export default {
        name: 'VerifyUser',
        mounted() {
            verifyUser(this.$route.params.hash).then(() => {
                this.$message.success('Thank you for confirming your email!');
            }).catch(() => {
                this.$message.error('Invalid code or your email already verified');
            }).finally(() => {
                this.$router.push('/');
            });
        },
    };
</script>

<style scoped>

</style>
